{#include base-user}
  {#title}BudgetApp - Account Detail - {account.name}{/title}

{#content}
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/accounts/view/delete/{account.id}" method="post">
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">
      </form>
    </div>
    <div class="col">
    </div>
  </div>
  <form action="/accounts/view/update/{account.id}" method="post">
    <input type="submit" value="Update" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?');">
    <input type="reset" class="btn btn-sm btn-secondary">
    <table class="table">
      <tr>
        <td>ID</td>
        <td>{account.id}</td>
        <td></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{account.name}</td>
        <td>
          <input type="text" id="name" name="name" placeholder="{account.name}" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{account.type}</td>
        <td>
          <select id="type" name="type" class="form-select">
            <option value="" disabled selected>Select a Type</option>
            <option value="Checking">Checking</option>
            <option value="Savings">Savings</option>
            <option value="Other">Other</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Currency</td>
        <td>{account.currency}</td>
        <td>
          <select id="currency" name="currency" class="form-select">
            <option value="" disabled selected>Select a Currency</option>
            <option value="USD">US Dollar</option>
            <option value="EUR">Euro</option>
            <option value="Other">Other</option>
          </select>
        </td>
      </tr>
      
      <tr>
        <td>Number</td>
        <td>{account.number}</td>
        <td>
          <input type="text" id="number" name="number" placeholder="{account.number}" class="form-control">
        </td>
      </tr>
      <tr>
        <td>IBAN</td>
        <td>{account.iban}</td>
        <td>
          <input type="text" id="iban" name="iban" placeholder="{account.iban}" class="form-control">
        </td>
      </tr>
      <tr>
        <td>BIC</td>
        <td>{account.bic}</td>
        <td>
          <input type="text" id="bic" name="bic" placeholder="{account.bic}" class="form-control">
        </td>
      </tr>
      
      <tr>
        <td>Address</td>
        <td>{account.address}</td>
        <td>
          <input type="text" id="address" name="address" placeholder="{account.address}" class="form-control">
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>{account.city}</td>
        <td>
          <input type="text" id="city" name="city" placeholder="{account.city}" class="form-control">
        </td>
      </tr>
      <tr>
        <td>State</td>
        <td>{account.state}</td>
        <td>
          <input type="text" id="state" name="state" placeholder="{account.state}" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Telephone</td>
        <td>{account.telephone}</td>
        <td>
          <input type="text" id="telephone" name="telephone" placeholder="{account.telephone}" class="form-control">
        </td>
      </tr>
      
      <tr>
        <td>Country</td>
        <td>{account.country}</td>
        <td>
          <select id="country" name="country" class="form-select">
            <option value="" disabled selected>Select a Country</option>
            <option value="US">USA</option>
            <option value="DE">Germany</option>
            <option value="Other">Other</option>
          </select>
        </td>
      </tr>
      
      <tr>
        <td>API Credential</td>
        <td>{account.api_credential}</td>
        <td>
          <input type="text" id="api_credential" name="api_credential" placeholder="{account.api_credential}" class="form-control">
        </td>
      </tr>
      
    </table>
  </form>
</div>
{/content}

{/include}