<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap-icons.css') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', path='/favicon.ico') }}">
  <script src="{{ url_for('static', path='/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='/jquery-3.6.3.min.js') }}"></script>  
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if g.user %}
<header id="pageheader">
  <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
      <a class="navbar-brand dropdown" href="/">BudgetApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{% block header %} {% endblock %}</a>
            <ul class="dropdown-menu">
              <li>
                <div class="btn-group" role="group" aria-label="Settings Button group">
                  <a class="btn btn-sm dropdown-item" href="/settings">Settings</a>
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/overview">Overview</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <div class="btn-group" role="group" aria-label="Budgets Button group">
                  <a class="btn btn-sm dropdown-item" href="/budgets">Budgets</a>
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <div class="btn-group" role="group" aria-label="Accounts Button group">
                  <a class="btn btn-sm dropdown-item" href="/accounts">Accounts</a>
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <div class="btn-group" role="group" aria-label="Transactions Button group">
                  <a class="btn btn-sm dropdown-item" href="/transactions">Transactions</a>
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/docs">OpenAPI Docs</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{ g.user }}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item btn btn-sm" href="/logout">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="/settings" class="nav-link text-start btn btn-sm m-1 p-1">Settings</a></li>
          <li class="nav-item"><a href="/overview" class="nav-link text-start btn btn-sm m-1 p-1">Overview</a></li>
          <li class="nav-item"><a href="/budgets" class="nav-link text-start btn btn-sm m-1 p-1">Budgets</a></li>
          <li class="nav-item"><a href="/accounts" class="nav-link text-start btn btn-sm m-1 p-1">Accounts</a></li>
          <li class="nav-item"><a href="/transactions" class="nav-link text-start btn btn-sm m-1 p-1">Transactions</a></li>
          {% block navbar %}{% endblock %}
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="row container-fluid">
  <div class="d-none d-lg-block col-lg-1">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="/settings" class="list-group-item-action text-start btn">Settings</a>
      </li>
      <li class="list-group-item">
        <a href="/overview" class="list-group-item-action text-start btn">Overview</a>
      </li>
      <li class="list-group-item">
        <a href="/budgets" class="list-group-item-action text-start btn">Budgets</a>
      </li>
      <li class="list-group-item">
        <a href="/accounts" class="list-group-item-action text-start btn">Accounts</a>
      </li>
      <li class="list-group-item">
        <a href="/transactions" class="list-group-item-action text-start btn">Transactions</a>
      </li>
      {% block sidenav %}{% endblock %}
    </ul>
  </div>
  <div class="col-lg-11 col-12">
    <div class="row">
      {% for message in messages %}
      <div class="alert alert-warning" role="alert">
        <code>{{ message }}</code>
      </div>
      {% endfor %}
    </div>
    {% block content %}{% endblock %}
  </div>
</div>

{% else %}

<header id="pageheader">
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand dropdown" href="/">BudgetApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/login" class="nav-link text-start btn btn-sm m-1 p-1">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  {% block publiccontent %}{% endblock %}
</div>

{% endif %}

</body>
</html>