{% extends 'base.html' %}

{% block title %}
{% if g.user %}
Budgets
{% else %}
{% endif %}
{% endblock %}

{% block header %}
{% if g.user %}
Budgets
{% else %}
{% endif %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
{% if g.user %}
<script>
$(document).ready(function(){

  $("#searchfilter").on("keyup", function(){
    var value = $(this).val().toLowerCase();
    $("#item_table tr").filter(function(){
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  $("#filtercurrency").change(function() {
    var value = $(this).val();
    $("#item_table tr").filter(function() {
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  });
  
  $(".item_detail").click(function(event){
    let budget_id = $(event.currentTarget).text();
    let get_url = "/rest/budget/" + budget_id;
    $.get(get_url, function(data, status){
      $("#modalLabel").text(data.id);
      $("#budget_name").text(data.name);
      $("#budget_description").text(data.description);
      $("#budget_currency").text(data.currency);
    });
  });
  $(".delete_item").click(function(event){
    if (confirm("Delete budget?")) {
      let budget_id = $(event.currentTarget).text();
      let post_url = "/rest/budget/delete/" + budget_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
        location.reload();
      });
    }
  });
  
  $("#create_budget_submit").click(function(event){
    if (confirm("Add budget?")) {
      let newname = $("#new_name").val();
      let newdescription = $("#new_description").val();
      let newcurrency = $("#new_currency").val();
      let stritem = '{"name": "'+newname+'", "description": "'+newdescription+'", "currency": "'+newcurrency+'"}';
      const newitem = JSON.parse(stritem);
      $.post("/rest/budget/add", newitem, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
        location.reload();
      });
    }
  });
  
  $("#create_budgetitem_submit").click(function(event){
    if (confirm("Add budget item?")) {
      let newname = $("#new_bi_name").val();
      let newdescription = $("#new_bi_description").val();
      let newamount = $("#new_bi_amount").val();
      let newcategory = $("#new_bi_category").val();
      let newrecurrence = $("#new_bi_recurrence").val();
      let newduedate = $("#new_bi_duedate").val();
      let newbudgetid = $("#new_bi_budgetid").val();
      let stritem = '{"name": "'+newname+'", "description": "'+newdescription+'", "amount": "'+newamount+'", "category": "'+newcategory+'", "recurrence": "'+newrecurrence+'", "duedate": "'+newduedate+'", "budgetid": "'+newbudgetid+'"}';
      const newitem = JSON.parse(stritem);
      $.post("/rest/budgetitem/add", newitem, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
        location.reload();
      });
    }
  });
  $(".delete_budgetitem").click(function(event){
    if (confirm("Delete budget item?")) {
      let budgetitem_id = $(event.currentTarget).text();
      let post_url = "/rest/budgetitem/delete/" + budgetitem_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
        location.reload();
      });
    }
  });
  
});
</script>

<!-- Top of Page Button in lower right corner -->
<div class="z-3 opacity-50 position-fixed bottom-0 end-0">
  <a href="#pageheader" class="btn btn-sm btn-danger">&#8613;</a>
</div>

<div class="row">
  <div class="col">
    <code><pre><p id="response_output"></p></pre></code>
  </div>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-12 col-sm-3">
      <button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#create_budget">CREATE</button>
      <a href="/budgets" class="btn btn-sm btn-secondary">REFRESH</a>
    </div>
    <div class="col-12 col-sm-3">
      <input id="searchfilter" name="searchfilter" Placeholder="Enter a search term" class="form-control">
    </div>
    <div class="col-12 col-sm-3">
      <select id="filtercurrency" name="filtercurrency" class="form-select">
        <option value="" disabled>Currency</option>
        {% for currency in currencylist %}
        <option value="{{ currency.value }}">{{ currency.value }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12 col-sm-3">
      <select id="limit" name="limit" class="form-select">
        <option value="" disabled>Per Page</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
      </select>
    </div>
  </div>

  <table id="item_table" name="item_table" class="table table-hover">
  
    <tr>
      <th><a href="/budgets?sortby=id" class="btn btn-sm">ID</a></th>
      <th><a href="/budgets?sortby=name" class="btn btn-sm">Name</a></th>
      <th><a href="" class="btn btn-sm">Description</a></th>
      <th><button class="btn" data-bs-toggle="modal" data-bs-target="#create_budgetitem">+</button></th>
      <th><a href="/budgets?sortby=currency" class="btn btn-sm">Currency</a></th>
      <th></th>
    </tr>
    
    {% for budget in budgetlist %}
    <tr>
      <td>
        <button id="budget_{{ budget.id }}" class="btn item_detail" data-bs-toggle="modal" data-bs-target="#edit_budget">{{ budget.id }}</button>
      </td>
      <td>{{ budget.name }}</td>
      <td>{{ budget.description }}</td>
      <td>
        <table class="table table-sm">
          {% for bitem in budget.budgetitems %}
          <tr>
            <td>{{ bitem.name }}</td>
            <td>{{ bitem.amount }}</td>
            <td>{{ bitem.category }}</td>
            <td><button class="btn btn-sm btn-danger delete_budgetitem">{{ bitem.id }}</button></td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td>{{ budget.currency }}</td>
      <td><button class="btn btn-sm btn-danger delete_item">{{ budget.id }}</button></td>
    </tr>
    {% endfor %}
  
  </table>

</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="edit_budget" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <span id="budget_name" class="input-group-text"></span>
              <input type="text" id="update_budget_name" name="update_budget_name" placeholder="Name" class="form-control">
              <button type="button" id="budget_name_update" class="btn btn-sm btn-success">X</button>
            </div>
            <div class="input-group">
              <span id="budget_description" class="input-group-text"></span>
              <input type="text" id="update_budget_description" name="update_budget_description" placeholder="Description" class="form-control">
              <button type="button" id="budget_description_update" class="btn btn-sm btn-success">X</button>
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <span id="budget_currency" class="input-group-text"></span>
              <select id="update_budget_currency" name="update_budget_currency" class="form-select">
                <option value="" disabled>Currency</option>
                {% for currency in currencylist %}
                <option value="{{ currency.value }}">{{ currency.value }}</option>
                {% endfor %}
              </select>
              <button type="button" id="budget_currency_update" class="btn btn-sm btn-success">X</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- CREATE MODAL -->
<div class="modal fade" id="create_budget" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">New Budget</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label class="form-label">Name</label>
            <input type="text" id="new_name" name="new_name" placeholder="Name" class="form-control">
            <label class="form-label">Description</label>
            <input type="text" id="new_description" name="new_description" placeholder="Description" class="form-control">
          </div>
          <div class="col">
            <label class="form-label">Currency</label>
            <select id="new_currency" name="new_currency" class="form-select">
              <option value="" selected disabled>Currency</option>
              {% for currency in currencylist %}
              <option value="{{ currency.value }}">{{ currency.value }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="create_budget_submit" class="btn btn-success">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- CREATE MODAL -->
<div class="modal fade" id="create_budgetitem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">New Budget Item</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label class="form-label">Name</label>
            <input type="text" id="new_bi_name" name="new_bi_name" placeholder="Name" class="form-control">
            <label class="form-label">Description</label>
            <input type="text" id="new_bi_description" name="new_bi_description" placeholder="Description" class="form-control">
            <label class="form-label">Due Date</label>
            <input type="number" id="new_bi_duedate" name="new_bi_duedate" min="1" max="31" value="1" class="form-control">
            <label class="form-label">Recurrence</label>
            <select id="new_bi_recurrence" name="new_bi_recurrence" class="form-select">
              <option value="Monthly" selected>Recurrence</option>
              <option value="Monthly">Monthly</option>
              <option value="Weekly">Weekly</option>
              <option value="Bi-weekly">Bi-weekly</option>
              <option value="Bi-annually">Bi-annually</option>
              <option value="Yearly">Yearly</option>
            </select>
            
          </div>
          <div class="col">
            <label class="form-label">Amount</label>
            <input type="text" id="new_bi_amount" name="new_bi_amount" placeholder="Amount" class="form-control">
            <label class="form-label">Category</label>
            <select id="new_bi_category" name="new_bi_category" class="form-select">
              <option value="" selected disabled>Category</option>
              {% for category in categorylist %}
              <option value="{{ category.value }}">{{ category.value }}</option>
              {% endfor %}
            </select>
            <label class="form-label">Budget ID</label>
            <input type="text" id="new_bi_budgetid" name="new_bi_budgetid" placeholder="Budget ID" class="form-control">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="create_budgetitem_submit" class="btn btn-success">Create</button>
      </div>
    </div>
  </div>
</div>
{% else %}
{% endif %}
{% endblock %}