{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
BudgetApp
{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-sm-3">
      <a href="/overview" class="card btn m-1 p-1">
        <h1 class="card-title">Overview</h1>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-sm-3">
      <a href="/budgets" class="card btn m-1 p-1">
        <h1 class="card-title">Budgets</h1>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-sm-3">
      <a href="/accounts" class="card btn m-1 p-1">
        <h1 class="card-title">Accounts</h1>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-sm-3">
      <a href="/transactions" class="card btn m-1 p-1">
        <h1 class="card-title">Transactions</h1>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block publiccontent %}
<div class="container">
  <h3>Budget App</h3>
</div>
{% endblock %}