{% extends 'base.html' %}

{% block title %}
Settings
{% endblock %}

{% block header %}
Settings
{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
  
  $("#new_category_submit").click(function(event){
    if (confirm("Add category?")) {
      let newvalue = $("#new_category").val();
      let strweblist = '{"name": "Category", "value": "'+newvalue+'"}';
      const newweblist = JSON.parse(strweblist);
      $.post("/rest/weblist/add", newweblist, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $(".category_delete").click(function(event){
    if (confirm("Delete category?")) {
      let category_id = $(event.currentTarget).text();
      let post_url = "/rest/weblist/delete/" + category_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $("#new_currency_submit").click(function(event){
    if (confirm("Add currency?")) {
      let newvalue = $("#new_currency").val();
      let strweblist = '{"name": "Currency", "value": "'+newvalue+'"}';
      const newweblist = JSON.parse(strweblist);
      $.post("/rest/weblist/add", newweblist, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $(".currency_delete").click(function(event){
    if (confirm("Delete currency?")) {
      let currency_id = $(event.currentTarget).text();
      let post_url = "/rest/weblist/delete/" + currency_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $("#new_country_submit").click(function(event){
    if (confirm("Add country?")) {
      let newvalue = $("#new_country").val();
      let strweblist = '{"name": "Country", "value": "'+newvalue+'"}';
      const newweblist = JSON.parse(strweblist);
      $.post("/rest/weblist/add", newweblist, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $(".country_delete").click(function(event){
    if (confirm("Delete country?")) {
      let country_id = $(event.currentTarget).text();
      let post_url = "/rest/weblist/delete/" + country_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $("#new_accounttype_submit").click(function(event){
    if (confirm("Add account type?")) {
      let newvalue = $("#new_accounttype").val();
      let strweblist = '{"name": "AccountType", "value": "'+newvalue+'"}';
      const newweblist = JSON.parse(strweblist);
      $.post("/rest/weblist/add", newweblist, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $(".accounttype_delete").click(function(event){
    if (confirm("Delete account type?")) {
      let accounttype_id = $(event.currentTarget).text();
      let post_url = "/rest/weblist/delete/" + accounttype_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  
  $("#new_exrate_submit").click(function(event){
    if (confirm("Add exchange rate?")) {
      let newfrom = $("#new_exrate_from").val();
      let newto = $("#new_exrate_to").val();
      let newrate = $("#new_exrate_rate").val();
      let strexrate = '{"currency_from": "'+newfrom+'", "currency_to": "'+newto+'", "rate": "'+newrate+'"}';
      const newexrate = JSON.parse(strexrate);
      $.post("/rest/exchangerate/add", newexrate, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $(".exrate_delete").click(function(event){
    if (confirm("Delete exchange rate?")) {
      let exrate_id = $(event.currentTarget).text();
      let post_url = "/rest/exchangerate/delete/" + exrate_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  
  $("#new_user_submit").click(function(event){
    if (confirm("Add User?")) {
      let newemail = $("#new_user_email").val();
      let newpass = $("#new_user_password").val();
      let newpasscheck = $("#new_user_passwordcheck").val();
      let struser = '{"email": "'+newemail+'", "password": "'+newpass+'", "passwordcheck": "'+newpasscheck+'"}';
      const newuser = JSON.parse(struser);
      $.post("/rest/user/add", newuser, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  $(".user_delete").click(function(event){
    if (confirm("Delete user?")) {
      let user_id = $(event.currentTarget).text();
      let post_url = "/rest/user/delete/" + user_id;
      $.post(post_url, function(data, status){
        let textout = "Response [" + status + "]: " + data;
        $("#response_output").text(textout);
      });
    }
  });
  
});
</script>

<!-- Top of Page Button in lower right corner -->
<div class="z-3 opacity-50 position-fixed bottom-0 end-0">
  <a href="#pageheader" class="btn btn-sm btn-danger">&#8613;</a>
</div>

<div class="row">
  <div class="col">
    <code><pre><p id="response_output"></p></pre></code>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="accordion_A" class="m-1 p-1">
        <div>
          <a href="#collapse_A" data-bs-toggle="collapse" class="btn btn-sm btn-light">Application Configuration</a>
        </div>
        <div id="collapse_A" class="collapse">
          <table class="table table-hover">
            <tr>
              <td>Database</td>
              <td></td>
            </tr>
            <tr>
              <td>Database</td>
              <td></td>
            </tr>
            <tr>
              <td>Database</td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div id="accordion_B" class="m-1 p-1">
        <div>
          <a href="#collapse_B" data-bs-toggle="collapse" class="btn btn-sm btn-light">Webpage Lists</a>
        </div>
        <div id="collapse_B" class="collapse">
          <div class="row">
            <div class="col">
              <label class="form-label">Categories</label>
              <select class="form-select">
                <option value="" selected disabled>Category</option>
                {% for category in categorylist %}
                <option value="">{{ category.value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <table class="table table-hover">
                <tr>
                  <th>
                    <div class="input-group">
                      <input type="text" id="new_category" name="new_category" placeholder="New Category" class="form-control">
                      <button id="new_category_submit" name="new_category_submit" class="btn btn-sm btn-success">X</button>
                    </div>
                  </th>
                  <th></th>
                </tr>
                {% for category in categorylist %}
                <tr>
                  <td>{{ category.value }}</td>
                  <td><button class="btn btn-sm btn-danger category_delete">{{ category.id }}</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <label class="form-label">Currencies</label>
              <select class="form-select">
                <option value="" selected disabled>Currency</option>
                {% for currency in currencylist %}
                <option value="">{{ currency.value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <table class="table table-hover">
                <tr>
                  <th>
                    <div class="input-group">
                      <input type="text" id="new_currency" name="new_currency" placeholder="New Currency" class="form-control">
                      <button id="new_currency_submit" name="new_currency_submit" class="btn btn-sm btn-success">X</button>
                    </div>
                  </th>
                  <th></th>
                </tr>
                {% for currency in currencylist %}
                <tr>
                  <td>{{ currency.value }}</td>
                  <td><button class="btn btn-sm btn-danger currency_delete">{{ currency.id }}</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <label class="form-label">Countries</label>
              <select class="form-select">
                <option value="" selected disabled>Country</option>
                {% for country in countrylist %}
                <option value="">{{ country.value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <table class="table table-hover">
                <tr>
                  <th>
                    <div class="input-group">
                      <input type="text" id="new_country" name="new_country" placeholder="New Country" class="form-control">
                      <button id="new_country_submit" name="new_country_submit" class="btn btn-sm btn-success">X</button>
                    </div>
                  </th>
                  <th></th>
                </tr>
                {% for country in countrylist %}
                <tr>
                  <td>{{ country.value }}</td>
                  <td><button class="btn btn-sm btn-danger country_delete">{{ country.id }}</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <label class="form-label">Account Types</label>
              <select class="form-select">
                <option value="" selected disabled>Account Type</option>
                {% for accounttype in accounttypelist %}
                <option value="">{{ accounttype.value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <table class="table table-hover">
                <tr>
                  <th>
                    <div class="input-group">
                      <input type="text" id="new_accounttype" name="new_accounttype" placeholder="New Account Type" class="form-control">
                      <button id="new_accounttype_submit" name="new_accounttype_submit" class="btn btn-sm btn-success">X</button>
                    </div>
                  </th>
                  <th></th>
                </tr>
                {% for accounttype in accounttypelist %}
                <tr>
                  <td>{{ accounttype.value }}</td>
                  <td><button class="btn btn-sm btn-danger accounttype_delete">{{ accounttype.id }}</button></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div id="accordion_C" class="m-1 p-1">
        <div>
          <a href="#collapse_C" data-bs-toggle="collapse" class="btn btn-sm btn-light">Exchange Rates</a>
        </div>
        <div id="collapse_C" class="collapse">
          <table class="table table-hover">
            <tr>
              <td>
                <select id="new_exrate_from" name="new_exrate_from" class="form-select">
                  <option value="" selected disabled>Country</option>
                  {% for country in countrylist %}
                  <option value="{{ country.value }}">{{ country.value }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="new_exrate_to" name="new_exrate_to" class="form-select">
                  <option value="" selected disabled>Country</option>
                  {% for country in countrylist %}
                  <option value="{{ country.value }}">{{ country.value }}</option>
                  {% endfor %}
                </select>
              </td>
              <td><input type="text" id="new_exrate_rate" name="new_exrate_rate" placeholder="Rate" class="form-control"></td>
              <td><button type="button" id="new_exrate_submit" name="new_exrate_submit" class="btn btn-sm btn-success">ADD</button></td>
            </tr>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Rate</th>
              <th></th>
            </tr>
            {% for exrate in exchangeratelist %}
            <tr>
              <td>{{ exrate.currency_from }}</td>
              <td>{{ exrate.currency_to }}</td>
              <td>{{ exrate.rate }}</td>
              <td><button class="btn btn-sm btn-danger exrate_delete">{{ exrate.id }}</button></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div id="accordion_D" class="m-1 p-1">
        <div>
          <a href="#collapse_D" data-bs-toggle="collapse" class="btn btn-sm btn-light">Users</a>
        </div>
        <div id="collapse_D" class="collapse">
          <table class="table table-hover">
            <tr>
              <td><input type="email" id="new_user_email" name="new_user_email" placeholder="Email" class="form-control"></td>
              <td>
              <div class="input-group">
                <input type="password" id="new_user_password" name="new_user_password" placeholder="Password" class="form-control">
                <input type="password" id="new_user_passwordcheck" name="new_user_passwordcheck" placeholder="Verify" class="form-control">
              </div>
              </td>
              <td><button type="button" id="new_user_submit" name="new_user_submit" class="btn btn-sm btn-success">ADD</button></td>
            </tr>
            
            {% for user in userlist %}
            <tr>
              <td>{{ user.email }}</td>
              <td><button class="btn btn-sm btn-danger user_delete">{{ user.id }}</button></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- CREATE MODAL -->
<div class="modal fade" id="create_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">New Item</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Create</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}