{#include base-user}
  {#title}BudgetApp - Create Bill{/title}

{#content}
<div class="container">
<div class="card m-3 p-3">
  <h3>Add a Bill</h3>
  <form action="/bills/view/create" method="post">
    <div class="row">
      <div class="col">
        <fieldset><legend>Bill Base Info</legend>
          <div class="m-3">
            <input type="submit" value="Save" class="btn btn-sm btn-success"><input type="reset" class="btn btn-sm btn-secondary">
          </div>
          <div class="m-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" placeholder="Bill Name" class="form-control" />
          </div>
          <div class="m-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" />
          </div>
          <div class="m-3">
            <select id="recurrence" name="recurrence" class="form-select">
              <option value="" disabled selected>Select a Value</option>
              <option value="Weekly">Weekly</option>
              <option value="Bi-Weekly">Bi-Weekly</option>
              <option value="Monthly">Monthly</option>
            </select>
          </div>
          <div class="m-3">
            <label for="date_occurence" class="form-label">Date of Occurence</label>
            <input type="text" id="date_occurence" name="date_occurence" placeholder="Date of Occurence" class="form-control" />
          </div>
        </fieldset>
      </div>
    </div>
    
  </form>
</div>
</div>
{/content}

{/include}