{#include base-user}
  {#title}BudgetApp - Bill List{/title}

{#content}
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Recurrence</th>
      <th>Date Recurrence</th>
    </tr>
    {#for bill in billlist}
    <tr>
      <td>{bill.id}</td>
      <td><a href="/bills/view/detail/{bill.id}">{bill.name}</a></td>
      <td>{bill.amount}</td>
      <td>{bill.recurrence}</td>
      <td>{bill.date_occurence}</td>
    </tr>
    {/for}
  </table>
</div>
{/content}

{/include}