{#include base}
{#title}BudgetApp{/title}
{#header}BudgetApp{/header}
{#content}
<div class="row">
  <div class="col-12 col-sm-3"></div>
  <div class="card col-12 col-sm-6 m-3 p-3">
    <h1>Budget App</h1>
    <div class="container">
      <p>Manage financial information</p>
    </div>
    <div class="container">
      <p>To Do:</p>
      <ul>
        <li><input type="checkbox" class="form-check-input" /> Make all pages for app</li>
        <li><input type="checkbox" class="form-check-input" /> Config elements from application.properties file instead of hard coded in Java</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-sm-3"></div>
</div>
{/content}

{/include}