{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
Account
{% endblock %}

{% block sidenav %}
<div class="list-group">
  <a class="list-group-item list-group-item-secondary list-group-item-action" href="">Account</a>
  {% for acct in accountlist %}
  <a class="list-group-item list-group-item-action" href="/accountview/{{ acct.id }}">{{ acct.name }}</a>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
{% if g.user %}
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newaccountmodal">
  New Account
</button>

<div class="modal fade" id="newaccountmodal" tabindex="-1" aria-labelledby="newaccountmodallabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newaccountmodallabel">Create New Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <label for="newaccountname" class="form-label">Name</label>
              <input type="text" id="newaccountname" name="newaccountname" placeholder="Name" class="form-control" required>
            </div>
            <div class="col-12">
              <label for="newaccounttype" class="form-label">Type</label>
              <select id="newaccounttype" name="newaccounttype" class="form-control">
                {% for accounttype in accounttypelist %}
                <option value="{{ accounttype.value }}">{{ accounttype.value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12">
              <label for="newaccountcurrency" class="form-label">Currency</label>
              <select id="newaccountcurrency" name="newaccountcurrency" class="form-control">
                {% for currency in currencylist %}
                <option value="{{ currency.value }}">{{ currency.value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12">
              <label for="newaccountcountry" class="form-label">Country</label>
              <select id="newaccountcountry" name="newaccountcountry" class="form-control">
                {% for country in countrylist %}
                <option value="{{ country.value }}">{{ country.value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Add" onclick="return confirm('Create Account?');" class="btn btn-success">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card card-body">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="card-title">{{ account.name }}</h3>
    </div>
    <div class="col-12 col-sm-6">
      <form action="" method="">
        <div class="input-group">
          <input type="text" id="changename" name="changename" placeholder="{{ account.name }}" class="form-control">
          <input type="submit" value="Update" onclick="return confirm('Update Account Name?');" class="btn btn-secondary">
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-6">
      <p>Account Type</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{ account.accounttype }}</p>
      <form action="" method="">
        <div class="input-group">
          <select id="changeaccttype" name="changeaccttype" class="form-select" required>
            <option value="" selected disabled>Account Type</option>
            {% for accounttype in accounttypelist %}
            <option value="{{ accounttype.value }}">{{ accounttype.value }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Update" onclick="return confirm('Update Account Type?');" class="btn btn-secondary">
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-6">
      <p>Currency</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{ account.currency }}</p>
      <form action="" method="">
        <div class="input-group">
          <select id="changecurrency" name="changecurrency" class="form-select" required>
            <option value="" selected disabled>Currency</option>
            {% for currency in currencylist %}
            <option value="{{ currency.value }}">{{ currency.value }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Update" onclick="return confirm('Update Account Currency?');" class="btn btn-secondary">
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-6">
      <p>Country</p>
    </div>
    <div class="col-12 col-sm-6">
      <p>{{ account.country }}</p>
      <form action="" method="">
        <div class="input-group">
          <select id="changecountry" name="changecountry" class="form-select" required>
            <option value="" selected disabled>Country</option>
            {% for country in countrylist %}
            <option value="{{ country.value }}">{{ country.value }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Update" onclick="return confirm('Update Account Country?');" class="btn btn-secondary">
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}
{% endif %}
{% endblock %}
