{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
BudgetApp
{% endblock %}

{% block sidenav %}
{% if g.user %}
<div class="list-group">
  <a class="list-group-item list-group-item-secondary list-group-item-action" href="/">Home</a>
  <a class="list-group-item list-group-item-action" href="/overview/1">Overview</a>
  <a class="list-group-item list-group-item-action" href="/budgetview/1">Budget Detail</a>
  <a class="list-group-item list-group-item-action" href="/accountview/1">Accounts</a>
  <a class="list-group-item list-group-item-action" href="/transactionsview">Transactions</a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-primary list-group-item-action" href="">REST</a>
  <a class="list-group-item list-group-item-action" href="/account/">Accounts</a>
  <a class="list-group-item list-group-item-action" href="/budget/">Budgets</a>
  <a class="list-group-item list-group-item-action" href="/budgetitem/">Budget Items</a>
  <a class="list-group-item list-group-item-action" href="/transaction/">Transactions</a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="/settings">Settings</a>
  <a class="list-group-item list-group-item-action" href="/info">Info</a>
  <a class="list-group-item list-group-item-action" href="/docs">Docs</a>
</div>
{% else %}
{% endif %}
{% endblock %}

{% block content %}

{% endblock %}
