{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
BudgetApp
{% endblock %}

{% block sidenav %}
<div class="list-group">
  <a class="list-group-item list-group-item-secondary list-group-item-action" href="">WEB</a>
  <a class="list-group-item list-group-item-action" href="/">Index</a>
  <a class="list-group-item list-group-item-action" href="/login">Login</a>
  <a class="list-group-item list-group-item-action" href="/overview/1">Overview</a>
  <a class="list-group-item list-group-item-action" href="/settings">Settings</a>
  <a class="list-group-item list-group-item-action" href="/budgetview/1">Budget Detail</a>
  <a class="list-group-item list-group-item-action" href="/accountview/1">Accounts</a>
  <a class="list-group-item list-group-item-action" href="/transactionsview">Transactions</a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-primary list-group-item-action" href="">REST</a>
  <a class="list-group-item list-group-item-action" href="/account/">Accounts</a>
  <a class="list-group-item list-group-item-action" href="/budget/">Budgets</a>
  <a class="list-group-item list-group-item-action" href="/budgetitem/">Budget Items</a>
  <a class="list-group-item list-group-item-action" href="/transaction/">Transactions</a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="/info">Info</a>
  <a class="list-group-item list-group-item-action" href="/docs">Docs</a>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    HEAD
  </div>
  <div class="card-body">
    <h5 class="card-title">TITLE</h5>
    <p class="card-text">BODY</p>
  </div>
  <div class="card-footer">
    FOOT
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% if g.user %}
{% else %}
{% endif %}
{% endblock %}
