{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
BudgetApp
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 col-sm-2"></div>
  <div class="col-12 col-sm-4">
    <div class="m-1 p-1">
      <form action="" method="">
        <div class="m-1 p-1">
          <h3>Login</h3>
        </div>
        <div class="m-1 p-1">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" placeholder="Enter your username" class="form-control">
        </div>
        <div class="m-1 p-1">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control">
        </div>
        <div class="m-1 p-1">
          <input type="submit" value="Login" class="btn btn-sm btn-success">
        </div>          
      </form>
    </div>
  </div>
  <div class="col-12 col-sm-4"></div>
</div>
{% if g.user %}
{% else %}
{% endif %}
{% endblock %}
