{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
BudgetApp
{% endblock %}

{% block sidenav %}
<div class="list-group">
  <a class="list-group-item list-group-item-secondary list-group-item-action" href="">WEB</a>
  <a class="list-group-item list-group-item-action" href="/">Index</a>
  <a class="list-group-item list-group-item-action" href="/login">Login</a>
  <a class="list-group-item list-group-item-action" href="/settings">Settings</a>
  <a class="list-group-item list-group-item-action" href="/budgetview/1">Budget Detail</a>
  <a class="list-group-item list-group-item-action" href="/accountview/1">Accounts</a>
  <a class="list-group-item list-group-item-action" href="/transactionsview">Transactions</a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-primary list-group-item-action" href="">REST</a>
  <a class="list-group-item list-group-item-action" href="/account/">Accounts</a>
  <a class="list-group-item list-group-item-action" href="/budget/">Budgets</a>
  <a class="list-group-item list-group-item-action" href="/budgetitem/">Budget Items</a>
  <a class="list-group-item list-group-item-action" href="/transaction/">Transactions</a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="/info">Info</a>
  <a class="list-group-item list-group-item-action" href="/docs">Docs</a>
</div>
{% endblock %}

{% block content %}
{% if g.user %}
<div class="row">
  <div class="col">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
      Filters
    </button>
  </div>
  <div class="col">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChartsLine" aria-expanded="false" aria-controls="collapseChartsLine">
      Line Charts
    </button>
  </div>
  <div class="col">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChartsPie" aria-expanded="false" aria-controls="collapseChartsPie">
      Pie Charts
    </button>
  </div>
  <div class="col">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDataTable" aria-expanded="false" aria-controls="collapseDataTable">
      Data Table
    </button>
  </div>
  <div class="col">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransactionList" aria-expanded="false" aria-controls="collapseTransactionList">
      Transaction List
    </button>
  </div>
</div>

<!-- FILTER PANEL -->
<div class="collapse" id="collapseFilters">
  <form action="/overview/filter">
    <div class="row m-1 p-1">
      <div class="col">
        <select id="budgetid" name="budgetid" class="form-select">
          <option value="1" selected>Budget</option>
          {% for bdgt in budgetlist %}
          <option value="{{ bdgt.id }}">{{ bdgt.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <select id="month" name="month" class="form-select">
          <option value="0" selected>Month</option>
          <option value="1">JAN</option>
          <option value="2">FEB</option>
          <option value="3">MAR</option>
          <option value="4">APR</option>
          <option value="5">MAY</option>
          <option value="6">JUN</option>
          <option value="7">JUL</option>
          <option value="8">AUG</option>
          <option value="9">SEP</option>
          <option value="10">OCT</option>
          <option value="11">NOV</option>
          <option value="12">DEC</option>
        </select>
      </div>
      <div class="col input-group">
        <span class="input-group-text">Start</span>
        <input type="date" id="startdate" name="startdate" class="form-control">
      </div>
      <div class="col input-group">
        <span class="input-group-text">End</span>
        <input type="date" id="enddate" name="enddate" class="form-control">
      </div>
      <div class="col">
        <input type="submit" value="Filter" class="btn btn-sm btn-success">
      </div>
    </div>
  </form>
</div>

<div class="collapse show" id="collapseChartsLine">
  <h3>Line Chart</h3>
  <canvas id="lineChart" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
</div>

<div class="collapse show" id="collapseChartsPie">
  <h3>Pie Charts</h3>
  <div class="row">
    <div class="col-12 col-sm-6">
      <canvas id="pieChartActual" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
    </div>
    <div class="col-12 col-sm-6">
      <canvas id="pieChartBudget" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
    </div>
  </div>
</div>

<div class="collapse show" id="collapseDataTable">
  <h3>Budget Items</h3>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered">
      <tr>
        <th><a href="" class="btn btn-sm">Category</a></th>
        <th><a href="" class="btn btn-sm"></a></th>
        <th><a href="" class="btn btn-sm">Amount</a></th>
        <th><a href="" class="btn btn-sm"></a></th>
        <th><a href="" class="btn btn-sm"></a></th>
        <th><a href="" class="btn btn-sm"></a></th>
        <th></th>
      </tr>
      
      {% for pitem in piedata %}
      <tr>
        <td>{{ pitem }}</td>
        <td></td>
        <td class="text-end">{{ piedata[pitem]|round(2,'common') }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered">
      <tr>
        <th><a href="" class="btn btn-sm">Name</a></th>
        <th><a href="" class="btn btn-sm">Description</a></th>
        <th><a href="" class="btn btn-sm">Amount</a></th>
        <th><a href="" class="btn btn-sm">Category</a></th>
        <th><a href="" class="btn btn-sm">Recurrence</a></th>
        <th><a href="" class="btn btn-sm">Day</a></th>
        <th></th>
      </tr>
      
      {% for budgetitem in budgetitems %}
      <tr>
        <td>{{ budgetitem.name }}</td>
        <td>{{ budgetitem.description }}</td>
        <td>{{ budgetitem.amount }}</td>
        <td>{{ budgetitem.category }}</td>
        <td>{{ budgetitem.recurrence }}</td>
        <td>{{ budgetitem.recurrenceday }}</td>
        <td></td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
</div>

<div class="collapse show" id="collapseTransactionList">
  <h3>Transactions</h3>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-bordered">
      <tr>
        <th><a href="" class="btn btn-sm">Date</a></th>
        <th><a href="" class="btn btn-sm">Amount</a></th>
        <th></th>
        <th><a href="" class="btn btn-sm">Name</a></th>
        <th><a href="" class="btn btn-sm">Description</a></th>
        <th><a href="" class="btn btn-sm">Category</a></th>
        <th><a href="" class="btn btn-sm">Currency</a></th>
        <th><a href="" class="btn btn-sm">Account ID</a></th>
      </tr>
      
      {% for txaction in transactions %}
      <tr>
        <td>{{ txaction.datetimestamp }}</td>
        <td>{{ txaction.amount }}</td>
        <td><i>{{ txaction.convertedvalue }}</i></td>
        <td>{{ txaction.name }}</td>
        <td>{{ txaction.description }}</td>
        <td>{{ txaction.category }}</td>
        <td>{{ txaction.currency }}</td>
        <td>{{ txaction.accountid }}</td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
</div>

<script>
var chartColors = ["Maroon", "Gold", "Crimson", "DarkOrange", "SteelBlue", "MediumOrchid", "Blue", "Cyan", "Teal", "Navy", "Yellow", "Red", "MediumBlue", "Gold", "DarkRed", "DarkCyan", "Cyan", "Orange", "Brown", "Turquoise", "DarkOrange", "Green", "Maroon", "GreenYellow", "Tomato", "Indigo", "GoldenRod", "Purple", "Violet", "Pink"];

var actualdata = "{{ piechartdata }}";
const actarr = actualdata.split("|");
const actuallabels = actarr[0].split(",");
const actualvalues = actarr[1].split(",");
var budgetdata = "{{ budgetchartdata }}";
const budgetarr = budgetdata.split("|");
const budgetlabels = budgetarr[0].split(",");
const budgetvalues = budgetarr[1].split(",");
const tmparrlabels = ["Housing", "Electric", "Insurance", "Internet", "Mobility", "Phone", "Debt", "Credit", "Utilities"];
const tmparramounts = [870.00, 205.00, 30.00, 115.00, 40.00, 91.00, 125.00, 375.00, 50.00];

const pieChartBudget = new Chart("pieChartBudget", {
  type: "pie",
  data: {
    labels: budgetlabels,
    datasets: [{
      backgroundColor: chartColors,
      data: budgetvalues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Budget"
    }
  }
});

const pieChartActual = new Chart("pieChartActual", {
  type: "pie",
  data: {
    labels: actuallabels,
    datasets: [{
      backgroundColor: chartColors,
      data: actualvalues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Actual"
    }
  }
});

const testLineData = [4255.00, 4300.00, 4410.00, 4150.00, 4420.00, 4195.00];
var xLabels = "{{ xLabels }}";
const xlabelarr = xLabels.split(",");
var incomedata = "{{ txdict.Income }}";
const incomearr = incomedata.split(",");
var housingdata = "{{ txdict.Housing }}";
const housingarr = housingdata.split(",");
var electricdata = "{{ txdict.Electric }}";
const electricarr = electricdata.split(",");
var phonedata = "{{ txdict.Phone }}";
const phonearr = phonedata.split(",");
var internetdata = "{{ txdict.Internet }}";
const internetarr = internetdata.split(",");
var insurancedata = "{{ txdict.Insurance }}";
const insurancearr = insurancedata.split(",");
var mobilitydata = "{{ txdict.Mobility }}";
const mobilityarr = mobilitydata.split(",");
var debtdata = "{{ txdict.Debt }}";
const debtarr = debtdata.split(",");
var creditdata = "{{ txdict.Credit }}";
const creditarr = creditdata.split(",");
var fooddata = "{{ txdict.Food }}";
const foodarr = fooddata.split(",");
var entertaindata = "{{ txdict.Entertainment }}";
const entertainarr = entertaindata.split(",");
var utildata = "{{ txdict.Utilities }}";
const utilarr = utildata.split(",");
var otherdata = "{{ txdict.Other }}";
const otherarr = otherdata.split(",");

const lineChart = new Chart("lineChart", {
  type: "line",
  data: {
    labels: xlabelarr,
    datasets: [{
      data: incomearr,
      label: "Income",
      borderColor: "LimeGreen",
      backgroundColor: "HoneyDew"
    },{
      data: housingarr,
      label: "Housing",
      borderColor: "Maroon"
    },{
      data: electricarr,
      label: "Electric",
      borderColor: "Gold"
    },{
      data: utilarr,
      label: "Utilities",
      borderColor: "Navy"
    },{
      data: phonearr,
      label: "Phone",
      borderColor: "Crimson"
    },{
      data: internetarr,
      label: "Internet",
      borderColor: "DarkOrange"
    },{
      data: insurancearr,
      label: "Insurance",
      borderColor: "SteelBlue"
    },{
      data: debtarr,
      label: "Debt",
      borderColor: "Blue"
    },{
      data: creditarr,
      label: "Credit",
      borderColor: "Cyan"
    },{
      data: mobilityarr,
      label: "Mobility",
      borderColor: "Purple"
    },{
      data: foodarr,
      label: "Food",
      borderColor: "DarkGreen"
    },{
      data: entertainarr,
      label: "Entertainment",
      borderColor: "Violet"
    },{
      data: otherarr,
      label: "Other",
      borderColor: "Grey"
    }]
  },
  options: {
    elements: {
      line: {
        borderWidth: 2,
        tension: 0.2
      }
    },
    legend: {
      display: true
    },
    title: {
      display: true,
      text: "Budget"
    }
  }
});
</script>
{% else %}
{% endif %}
{% endblock %}
