{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
BudgetApp
{% endblock %}

{% block sidenav %}
<div class="list-group">
  <a class="list-group-item list-group-item-secondary list-group-item-action" href="/settings">Settings</a>
  <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#appinfopanel" role="button" aria-expanded="false" aria-controls="appinfopanel">App Info</a>
  <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#preferencespanel" role="button" aria-expanded="false" aria-controls="preferencespanel">Preferences</a>
  <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#listspanel" role="button" aria-expanded="false" aria-controls="listspanel">Lists</a>
  <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#userspanel" role="button" aria-expanded="false" aria-controls="userspanel">Users</a>
</div>
{% endblock %}

{% block content %}
<!-- MOVE TO if g.user BLOCK -->
<div id="appinfopanel" class="collapse">
  <div class="card card-body">
    <div class="row">
      <div class="col">Application Name</div>
      <div class="col">Budget App</div>
    </div>
    <hr>
    <div class="row">
      <div class="col">Database</div>
      <div class="col">SQLite3</div>
    </div>
  </div>
</div>
<div id="preferencespanel" class="collapse">
  <div class="card card-body">
    <div class="row">
      <div class="col">Default Currency</div>
      <div class="col"></div>
    </div>
  </div>
</div>
<div id="listspanel" class="collapse">
  <div class="card card-body">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>Categories</h3>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-sm table-hover">
          {% for category in categorylist %}
          <tr>
            <td>{{ category.value }}</td>
            <td>
              <form action="" method="">
                <input type="submit" value="X" onclick="return confirm('Delete Category?');" class="btn btn-secondary">
              </form>
            </td>
          </tr>
          {% endfor %}
          <form action="" method="">
            <tr>
              <td>
                <input type="text" id="newcategory" name="newcategory" placeholder="Enter a New Category" class="form-control" required>
              </td>
              <td>
                <input type="submit" value="+" onclick="return confirm('Add Category?');" class="btn btn-secondary">
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>Account Types</h3>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-sm table-hover">
          {% for accounttype in accounttypelist %}
          <tr>
            <td>{{ accounttype.value }}</td>
            <td>
              <form action="" method="">
                <input type="submit" value="X" onclick="return confirm('Delete Account Type?');" class="btn btn-secondary">
              </form>
            </td>
          </tr>
          {% endfor %}
          <form action="" method="">
            <tr>
              <td>
                <input type="text" id="newaccounttype" name="newaccounttype" placeholder="Enter a New Type" class="form-control" required>
              </td>
              <td>
                <input type="submit" value="+" onclick="return confirm('Add Type?');" class="btn btn-secondary">
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>Currencies</h3>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-sm table-hover">
          {% for currency in currencylist %}
          <tr>
            <td>{{ currency.value }}</td>
            <td>
              <form action="" method="">
                <input type="submit" value="X" onclick="return confirm('Delete Currency?');" class="btn btn-secondary">
              </form>
            </td>
          </tr>
          {% endfor %}
          <form action="" method="">
            <tr>
              <td>
                <input type="text" id="newcurrency" name="newcurrency" placeholder="Enter a New Currency" class="form-control" required>
              </td>
              <td>
                <input type="submit" value="+" onclick="return confirm('Add Currency?');" class="btn btn-secondary">
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>Countries</h3>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-sm table-hover">
          {% for country in countrylist %}
          <tr>
            <td>{{ country.value }}</td>
            <td>
              <form action="" method="">
                <input type="submit" value="X" onclick="return confirm('Delete Country?');" class="btn btn-secondary">
              </form>
            </td>
          </tr>
          {% endfor %}
          <form action="" method="">
            <tr>
              <td>
                <input type="text" id="newcountry" name="newcountry" placeholder="Enter a New Country" class="form-control" required>
              </td>
              <td>
                <input type="submit" value="+" onclick="return confirm('Add Country?');" class="btn btn-secondary">
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>Exchange Rates</h3>
      </div>
      <div class="col-12 col-sm-6">
        <table class="table table-sm table-hover">
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Rate</th>
            <th></th>
          </tr>
          {% for exchangerate in exchangeratelist %}
          <tr>
            <td>{{ exchangerate.currency_from }}</td>
            <td>{{ exchangerate.currency_to }}</td>
            <td>{{ exchangerate.rate }}</td>
            <td>
              <form action="" method="">
                <input type="submit" value="X" onclick="return confirm('Delete Exchange Rate?');" class="btn btn-sm btn-secondary">
              </form>
            </td>
          </tr>
          {% endfor %}
          <form action="" method="">
            <tr>
              <td>
                <select id="newexratefrom" name="newexratefrom" class="form-select" required>
                  <option value="" disabled selected>FROM</option>
                  {% for currency in currencylist %}
                  <option value="{{ currency.value }}">{{ currency.value }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select id="newexrateto" name="newexrateto" class="form-select" required>
                  <option value="" disabled selected>TO</option>
                  {% for currency in currencylist %}
                  <option value="{{ currency.value }}">{{ currency.value }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input type="text" id="newexratevalue" name="newexratevalue" placeholder="RATE, ex 1.00" class="form-control" required>
              </td>
              <td>
                <input type="submit" value="+" onclick="return confirm('Add Exchange Rate?');" class="btn btn-sm btn-secondary">
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="userspanel" class="collapse">
  <div class="card card-body">
    <form action="" method="">
      <div class="row">
        <div class="col-12 col-md-6 col-sm-3">
          <label for="newuseremail" class="form-label">Email Address</label>
          <input type="email" id="newuseremail" name="newuseremail" placeholder="Email Address" class="form-control" required>
        </div>
        <div class="col-12 col-md-6 col-sm-3">
          <label for="newusername" class="form-label">Username</label>
          <input type="text" id="newusername" name="newusername" placeholder="Username" class="form-control" required>
        </div>
        <div class="col-12 col-md-6 col-sm-3">
          <label for="newuserpassword" class="form-label">Password</label>
          <input type="password" id="newuserpassword" name="newuserpassword" placeholder="Password" class="form-control" required>
          <input type="password" id="newuserpasswordverify" name="newuserpasswordverify" placeholder="Verify Password" class="form-control" required>
        </div>
        <div class="col-12 col-md-6 col-sm-3">
          <input type="submit" value="Add User" onclick="return confirm('Add User?');" class="btn btn-sm btn-success">
        </div>
      </div>
    </form>
    <hr>
    <div class="row">
      <div class="col-12 col-md-6 col-sm-3">ID</div>
      <div class="col-12 col-md-6 col-sm-3">Email</div>
      <div class="col-12 col-md-6 col-sm-3">Username</div>
      <div class="col-12 col-md-6 col-sm-3"></div>
    </div>
    <hr>
    {% for user in userlist %}
    <div class="row">
      <div class="col-12 col-md-6 col-sm-3">
        <p>{{ user.id }}</p>
      </div>
      <div class="col-12 col-md-6 col-sm-3">
        <div class="input-group">
          <span class="input-group-text">{{ user.email }}</span>
          <a href="mailto:{{ user.email }}" class="btn btn-secondary">M</a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-sm-3">
        <p>{{ user.username }}</p>
      </div>
      <div class="col-12 col-md-6 col-sm-3">
        <form action="" method="">
          <input type="submit" value="X" onclick="return confirm('Delete this user?');" class="btn btn-sm btn-secondary">
        </form>
      </div>
    </div>
    {% endfor %}
    <hr>
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3>Current User</h3>
        <p>g.user</p>
      </div>
      <div class="col-12 col-sm-6">
        <form action="" method="">
          <input type="password" id="changepassword" name="changepassword" placeholder="Enter a new Password" class="form-control" required>
          <input type="password" id="changepasswordverify" name="changepasswordverify" placeholder="Verify Password" class="form-control" required>
          <input type="submit" value="Update Password" onclick="return confirm('Update your password?');" class="btn btn-sm btn-secondary">
        </form>
      </div>
    </div>
  </div>
</div>
{% if g.user %}
{% else %}
{% endif %}
{% endblock %}
