{% extends 'base.html' %}

{% block title %}
BudgetApp
{% endblock %}

{% block header %}
Transactions
{% endblock %}

{% block sidenav %}
<div class="list-group">
  <a class="list-group-item list-group-item-secondary list-group-item-action" href="">Transactions</a>
  <a class="list-group-item list-group-item-action" href="/importcsvdata">IMPORT CSV</a>
</div>
{% endblock %}

{% block content %}
{% if g.user %}
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newtxactionmodal">
  Add Transaction
</button>

<div class="modal fade" id="newtxactionmodal" tabindex="-1" aria-labelledby="newtxactionmodallabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newtxactionmodallabel">Add Transaction</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <input type="submit" value="Add" onclick="return confirm('Create Budget?');" class="btn btn-success">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="table-responsive">
  <h3>Transactions</h3>
  <table class="table table-sm table-hover">
    <tr>
      <th>Timestamp</th>
      <th>Amount</th>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Currency</th>
      <th>Account</th>
    </tr>
    {% for txaction in transactions %}
    <tr>
      <td>{{ txaction.datetimestamp }}</td>
      <td>{{ txaction.amount }}</td>
      <td><i>{{ txaction.convertedvalue }}</i></td>
      <td>{{ txaction.name }}</td>
      <td>{{ txaction.description }}</td>
      <td>{{ txaction.category }}</td>
      <td>{{ txaction.currency }}</td>
      <td>{{ txaction.accountid }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
{% endif %}
{% endblock %}
