{#include base-user}
  {#title}BudgetApp - Budget Overview{/title}

{#content}
<div class="container">
  <h1>Budget Overview</h1>
  
  <div class="accordion" id="accordionSection">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingA">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA" aria-expanded="true" aria-controls="collapseA">
          Income - {incometotal}
        </button>
      </h2>
      <div id="collapseA" class="accordion-collapse collapse show" aria-labelledby="headingA" data-bs-parent="#accordionSection">
        <div class="accordion-body">
          <table class="table">
            {#for income in incomelist}
            <tr>
              <td><input type="checkbox" id="{income.name}" name="{income.name}" value="{income.active}" class="form-check-input"></td>
              <td>{income.name} - {income.incometype}</td>
              <td>{income.amount}</td>
            </tr>
            {/for}
          </table>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingB">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB" aria-expanded="true" aria-controls="collapseB">
          Expenses - {billtotal}
        </button>
      </h2>
      <div id="collapseB" class="accordion-collapse collapse show" aria-labelledby="headingB" data-bs-parent="#accordionSection">
        <div class="accordion-body">
          <table class="table">
            {#for bill in billlist}
            <tr>
              <td><input type="checkbox" id="{bill.name}" name="{bill.name}" value="{bill.active}"></td>
              <td>{bill.name}</td>
              <td>{bill.amount}</td>
            </tr>
            {/for}
          </table>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingC">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC" aria-expanded="true" aria-controls="collapseC">
          Results - {remainder}
        </button>
      </h2>
      <div id="collapseC" class="accordion-collapse collapse show" aria-labelledby="headingC" data-bs-parent="#accordionSection">
        <div class="accordion-body">
          <table class="table">
            <tr>
              <td>Total Income</td>
              <td>{incometotal}</td>
            </tr>
            <tr>
              <td>Total Expenses</td>
              <td>{billtotal}</td>
            </tr>
            <tr>
              <td>Currently Paid</td>
              <td></td>
            </tr>
            <tr>
              <td>Remainder</td>
              <td><b>{remainder}</b></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <h3>January 2023</h3>
    <div class="col">
      <fieldset><legend>Income</legend>
        <table class="table">
          {#for income in incomelist}
          <tr>
            <td><input type="checkbox" id="{income.name}" name="{income.name}" value="{income.active}" class="form-check-input"></td>
            <td>{income.name} - {income.incometype}</td>
            <td>{income.amount}</td>
          </tr>
          {/for}
        </table>
      </fieldset>
    </div>

    <div class="col">
      <fieldset><legend>Expenses</legend>
        <table class="table">
          {#for bill in billlist}
          <tr>
            <td><input type="checkbox" id="{bill.name}" name="{bill.name}" value="{bill.active}"></td>
            <td>{bill.name}</td>
            <td>{bill.amount}</td>
          </tr>
          {/for}
          
        </table>
      </fieldset>
    </div>

    <div class="col">
      <fieldset><legend>Remainder</legend>
        <p>
          Income and expenses will be autocalculated either as an injected EJB value or via JavaScript in page. Currently paid will dynamically change depending on what Bills are flagged as paid (toggles here or somewhere else).
        </p>
        <table class="table">
          <tr>
            <td>Total Income</td>
            <td>{incometotal}</td>
          </tr>
          <tr>
            <td>Total Expenses</td>
            <td>{billtotal}</td>
          </tr>
          <tr>
            <td>Currently Paid</td>
            <td></td>
          </tr>
          <tr>
            <td>Remainder</td>
            <td><b>{remainder}</b></td>
          </tr>
        </table>
      </fieldset>
    </div>
  </div>
  
</div>
{/content}

{/include}