{#include base-user}
{#title}BudgetApp - Overview{/title}
{#header}Overview{/header}
{#content}
<div class="m-1 p-1">
  
  <div class="btn-group">
    <a href="/budget/overview" class="btn"><h3>Overview</h3></a>
    <form action="/budget/overview/id" method="get">
      <div class="input-group">
        <select id="budgetid" name="budgetid" class="form-select">
          <option value="1" selected>Select a Budget</option>
          {#for budget in budgetlist}
          <option value="{budget.id}">{budget.id}</option>
          {/for}
        </select>
        <input type="submit" value="View" class="btn btn-success">
      </div>
    </form>
  </div>
  <p>Chart data is based on the Transaction category and amount. Adjust transaction categories to fit the budget model.</p>
  
  <div id="test"></div>
  
  <div class="row">
    
    <div class="col-12 col-sm-6">
      <!--<canvas id="myChart" style="width:100%;max-width:600px"></canvas>-->
      <canvas id="pieChartBudget" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
    </div>
    <div class="col-12 col-sm-6">
      <canvas id="pieChart" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="col-12 col-sm-6">
      <canvas id="barChartBudget" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
    </div>
    <div class="col-12 col-sm-6">
      <canvas id="barChart" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
    </div>
    
  </div>
  
</div>

<div class="m-3 p-3">
  
  <table class="table table-hover table-bordered">
    <tr>
      <th><a href="" class="btn btn-sm">ID</a></th>
      <th><a href="" class="btn btn-sm">Name</a></th>
      <th><a href="" class="btn btn-sm">Description</a></th>
      <th><a href="" class="btn btn-sm">Amount</a></th>
      <th><a href="" class="btn btn-sm">Category</a></th>
      <th><a href="" class="btn btn-sm">Recurrence</a></th>
    </tr>
    
    {#for budgetitem in budgetitemlist}
    <tr>
      <td>{budgetitem.id}</td>
      <td>{budgetitem.name}</td>
      <td>{budgetitem.description}</td>
      <td>{budgetitem.amount}</td>
      <td>{budgetitem.category}</td>
      <td>{budgetitem.recurrence}-{budgetitem.recurrenceday}</td>
    </tr>
    {/for}

  </table>
  
</div>

<div class="m-3 p-3">
  
  <div class="row">
    <div class="col">
      <form action="/budget/overview/filtered/month" method="post">
        <div class="input-group">
          <select id="month" name="month" class="form-select">
            <option value="" selected disabled>Month</option>
            <option value="01">JAN</option>
            <option value="02">FEB</option>
            <option value="03">MAR</option>
            <option value="04">APR</option>
            <option value="05">MAY</option>
            <option value="06">JUN</option>
            <option value="07">JUL</option>
            <option value="08">AUG</option>
            <option value="09">SEP</option>
            <option value="10">OCT</option>
            <option value="11">NOV</option>
            <option value="12">DEC</option>
          </select>
          <input type="submit" value="Filter" class="btn btn-sm btn-success">
        </div>
      </form>
    </div>
  </div>
  
  <table class="table table-hover table-bordered">

    <tr>
      <th><a href="/transaction/list/sorted/id" class="btn btn-sm">ID</a></th>
      <th><a href="/transaction/list/sorted/datetimestamp" class="btn btn-sm">Date</a></th>
      <th><a href="/transaction/list/sorted/amount" class="btn btn-sm">Amount</a></th>
      <th><a href="/transaction/list/sorted/category" class="btn btn-sm">Category</a></th>
      <th><a href="/transaction/list/sorted/name" class="btn btn-sm">Name</a></th>
      <th><a href="" class="btn btn-sm">Description</a></th>
      <th><a href="/transaction/list/sorted/accountid" class="btn btn-sm">Account ID</a></th>
    </tr>

    {#for transaction in transactionlist}
    <tr>
      <td>{transaction.id}</td>
      <td>{transaction.datetimestamp}</td>
      <td>{transaction.amount}</td>
      <td>{transaction.category}</td>
      <td>{transaction.name}</td>
      <td>{transaction.description}</td>
      <td>{transaction.accountid}</td>
    </tr>
    {/for}

  </table>
  
</div>
<script>
var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
var yValues = [55, 49, 44, 24, 15];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  "#00FFFF",
  "#7FFFD4",
  "#FFE4C4",
  "#0000FF"
];
var chartColors = [
  "Navy",
  "Yellow",
  "Red",
  "MediumBlue",
  "Gold",
  "DarkRed",
  "DarkCyan",
  "Cyan",
  "Orange",
  "Brown",
  "Turquoise",
  "DarkOrange",
  "Green",
  "Maroon",
  "GreenYellow",
  "Tomato",
  "Indigo",
  "GoldenRod",
  "Purple",
  "Violet",
  "Pink"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});
var tdata = "{tabledata}";
const tmparr1 = tdata.split("|");
const tmparrlabels = tmparr1[0].split(",");
const tmparramounts = tmparr1[1].split(",");

new Chart("pieChart", {
  type: "pie",
  data: {
    labels: tmparrlabels,
    datasets: [{
      backgroundColor: chartColors,
      data: tmparramounts
    }]
  },
  options: {
    title: {
      display: true,
      text: "Transactions"
    }
  }
});

new Chart("barChart", {
  type: "bar",
  data: {
    labels: tmparrlabels,
    datasets: [{
      backgroundColor: chartColors,
      data: tmparramounts
    }]
  },
  options: {
    legend: {
      display: true
    },
    title: {
      display: true,
      text: "Transactions"
    }
  }
});

var btdata = "{budgettabledata}";
const tmparr2 = btdata.split("|");
const tmparrlabels2 = tmparr2[0].split(",");
const tmparramounts2 = tmparr2[1].split(",");
new Chart("pieChartBudget", {
  type: "pie",
  data: {
    labels: tmparrlabels2,
    datasets: [{
      backgroundColor: chartColors,
      data: tmparramounts2
    }]
  },
  options: {
    title: {
      display: true,
      text: "Budget"
    }
  }
});
new Chart("barChartBudget", {
  type: "bar",
  data: {
    labels: tmparrlabels2,
    datasets: [{
      backgroundColor: chartColors,
      data: tmparramounts2
    }]
  },
  options: {
    legend: {
      display: true
    },
    title: {
      display: true,
      text: "Budget"
    }
  }
});
</script>
{/content}

{/include}