{#include base-user}
  {#title}SMC - Users{/title}

{#content}
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th></th>
    </tr>
    {#for usr in userlist}
    <tr>
      <td>{usr.id}</td>
      <td>{usr.username}</td>
      <td>{usr.role}</td>
      <td>{usr.email}</td>
      <td>
        <a href="#" class="btn btn-sm btn-secondary">Edit</a>
        <a href="#" class="btn btn-sm btn-danger">Remove</a>
      </td>
    </tr>
    {/for}
  </table>
</div>
{/content}

{/include}