{% extends 'base.html' %}


{% block title %}

{% if g.user %}
Budget Detail - {{ budget.id }}
{% else %}
{% endif %}

{% endblock %}


{% block header %}

{% if g.user %}
Budget: {{ budget.id }}
{% else %}
{% endif %}

{% endblock %}


{% block content %}

{% if g.user %}
<div class="card m-1 p-1">
  <div class="row">
    <div class="col">
      <a href="/budget/list" class="btn btn-sm btn-secondary">LIST</a>
    </div>
    <div class="col">
      <a href="#" class="btn btn-sm btn-secondary">#</a>
    </div>
    <div class="col">
      <a href="#" class="btn btn-sm btn-secondary">#</a>
    </div>
    <div class="col">
      <form action="/budget/delete/{{ budget.id }}" method="post">
        <input type="submit" value="DELETE" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">
      </form>
    </div>
  </div>
</div>

<div class="container">
  
  <div class="m-3 p-3">
    
    <a href="/budget/detail/{{ budget.id }}" class="btn"><h3>{{ budget.name }}</h3></a>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">ID</div>
      <div class="col-12 col-sm-9">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budget.id }}</button>
        </div>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Name</div>
      <div class="col-12 col-sm-9">
        <form action="/budget/update/{{ budget.id }}/name" method="post">
          <div class="input-group">
            <input type="text" id="newvalue" name="newvalue" placeholder="{{ budget.name }}" class="form-control" />
            <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Currency</div>
      <div class="col-12 col-sm-9">
        <form action="/budget/update/{{ budget.id }}/currency" method="post">
          <div class="input-group">
            <span class="input-group-text">{{ budget.currency }}</span>
            <select id="currency" name="currency" class="form-select">
              <option value="Default" selected>Select a Currency</option>
              {% for currency in currencylist %}
              <option value="{{ currency.value }}">{{ currency.value }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Description</div>
      <div class="col-12 col-sm-9">
        <form action="/budget/update/{{ budget.id }}/description" method="post">
          <textarea id="newvalue" name="newvalue" placeholder="{{ budget.description }}" class="form-control"></textarea>
          <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
        </form>
      </div>
    </div>
    
  </div>
  
  <div class="m-1 p-1">
        
    <form action="/budget/{{ budget.id }}/item/create" method="post">
      <fieldset><legend>New Budget Item</legend>
      <div class="row">
        <input type="hidden" id="budgetid" name="budgetid" value="{{ budget.id }}" />
        <div class="col-12 col-sm-6 col-md-3">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" />
          <input type="text" id="description" name="description" placeholder="Description" class="form-control" />
        </div>
        <div class="col-12 col-sm-5 col-md-3">
          <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" />
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <select id="category" name="category" class="form-select">
            <option value="" selected disabled>Category</option>
            {% for category in categories %}
            <option value="{{ category.value }}">{{ category.value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-12 col-sm-5 col-md-2">
          <input type="number" id="recurrenceday" name="recurrenceday" value="1" class="form-control" />
          <select id="recurrence" name="recurrence" class="form-select">
            <option value="Monthly" selected >Recurrence</option>
            <option value="Weekly">Weekly</option>
            <option value="Bi-weekly">Bi-weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="Bi-monthly">Bi-monthly</option>
            <option value="Yearly">Yearly</option>
          </select>
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="Submit Reset group">
        <input type="submit" value="&#9655;" class="btn btn-sm btn-success">
        <input type="reset" value="&#8634;" class="btn btn-sm btn-secondary">
      </div>
      </fieldset>
    </form>
    
    <table class="table">

      <tr>
        <th><a href="" class="btn btn-sm">ID</a></th>
        <th><a href="" class="btn btn-sm">Name</a></th>
        <th><a href="" class="btn btn-sm">Description</a></th>
        <th><a href="" class="btn btn-sm">Amount</a></th>
        <th><a href="" class="btn btn-sm">Category</a></th>
        <th><a href="" class="btn btn-sm">Recurrence</a></th>
        <th><a href="" class="btn btn-sm">Recur Day</a></th>
        <th></th>
      </tr>
      
      <tr>
        <th></th>
        <th>Remainder</th>
        <th></th>
        <th>{{ budgetsum }}</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      
      {% for budgetitem in budgetitemlist %}
      <tr>
        <td>{{ budgetitem.id }}</td>
        <td>{{ budgetitem.name }}</td>
        <td>{{ budgetitem.description }}</td>
        <td>{{ budgetitem.amount }}</td>
        <td>{{ budgetitem.category }}</td>
        <td>{{ budgetitem.recurrence }}</td>
        <td>{{ budgetitem.recurrenceday }}</td>
        <td>
          <div class="row">
            <div class="col">
              <a href="/budget/{{ budgetitem.budgetid }}/item/{{ budgetitem.id }}/ical" class="btn">&#128467;</a>
            </div>
            <div class="col">
              <form action="/budget/{{ budgetitem.budgetid }}/item/delete/{{ budgetitem.id }}" method="post">
                <input type="submit" value="X" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-sm btn-danger">
              </form>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
      
    </table>
    
  </div>
  
</div>

{% else %}
<div class="container">
</div>
{% endif %}

{% endblock %}
