{% extends 'base.html' %}

{% block title %}

{% if g.user %}
Budget Item Detail - {{ budgetitem.id }}
{% else %}
{% endif %}

{% endblock %}

{% block header %}

{% if g.user %}
Budget Item: {{ budgetitem.id }}
{% else %}
{% endif %}

{% endblock %}

{% block navbar %}
<li class="nav-item"><a href="" class="nav-link btn btn-sm">|</a></li>
<li class="nav-item">
  <a href="/budget/list" class="nav-link btn btn-sm btn-secondary">Budgets</a>
</li>
<li class="nav-item"><a href="" class="nav-link btn btn-sm">|</a></li>
<li class="nav-item">
  <form action="/budgetitem/delete/{{ budgetitem.id }}" method="post">
    <input type="submit" value="DELETE" onclick="return confirm('Are you sure?');" class="nav-link btn btn-sm btn-danger">
  </form>
</li>
{% endblock %}

{% block content %}

{% if g.user %}
<div class="container">
  
  <div class="m-3 p-3">
    
    <a href="/budgetitem/detail/{{ budgetitem.id }}" class="btn"><h3>{{ budgetitem.name }}</h3></a>
    
    <div class="row">
    
      <div class="col-12 col-sm-6">
        <!--<canvas id="myChart" style="width:100%;max-width:600px"></canvas>-->
        <canvas id="lineChart" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
      </div>
      <div class="col-12 col-sm-6">
        <canvas id="barChart" style="width:100%;max-width:1600px;height:400px;max-height:1600px;"></canvas>
      </div>

    </div>
    
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">ID</div>
      <div class="col-12 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budgetitem.id }}</button>
        </div>
      </div>
      <div class="col-12 col-sm-5"></div>
    </div>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Name</div>
      <div class="col-12 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budgetitem.name }}</button>
        </div>
      </div>
      <div class="col-12 col-sm-5"></div>
    </div>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Description</div>
      <div class="col-12 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budgetitem.description }}</button>
        </div>
      </div>
      <div class="col-12 col-sm-5"></div>
    </div>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Amount</div>
      <div class="col-12 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budgetitem.amount }}</button>
        </div>
      </div>
      <div class="col-12 col-sm-5"></div>
    </div>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Category</div>
      <div class="col-12 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budgetitem.category }}</button>
        </div>
      </div>
      <div class="col-12 col-sm-5">
        <form action="" method="">
          <div class="input-group">
            <select id="category" name="category" class="form-select">
              <option value="" selected disabled>Category</option>
              {% for category in categories %}
              <option value="{{ category.value }}">{{ category.value }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Update" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Recurrence</div>
      <div class="col-12 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budgetitem.recurrence }}</button>
        </div>
      </div>
      <div class="col-12 col-sm-5">
        <form action="" method="">
          <div class="input-group">
            <select id="recurrence" name="recurrence" class="form-select">
              <option value="Monthly" selected >Recurrence</option>
              <option value="Weekly">Weekly</option>
              <option value="Bi-weekly">Bi-weekly</option>
              <option value="Monthly">Monthly</option>
              <option value="Bi-monthly">Bi-monthly</option>
              <option value="Yearly">Yearly</option>
            </select>
            <input type="submit" value="Update" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Resurrence Day</div>
      <div class="col-12 col-sm-4">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ budgetitem.recurrenceday }}</button>
        </div>
      </div>
      <div class="col-12 col-sm-5"></div>
    </div>
    
  </div>
  
</div>
<script>
var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
var yValues = [55, 49, 44, 24, 15];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  "#00FFFF",
  "#7FFFD4",
  "#FFE4C4",
  "#0000FF"
];
var chartColors = [
  "Navy",
  "Yellow",
  "Red",
  "MediumBlue",
  "Gold",
  "DarkRed",
  "DarkCyan",
  "Cyan",
  "Orange",
  "Brown",
  "Turquoise",
  "DarkOrange",
  "Green",
  "Maroon",
  "GreenYellow",
  "Tomato",
  "Indigo",
  "GoldenRod",
  "Purple",
  "Violet",
  "Pink"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});

var btdata = "{{ budgetitemdata }}";
const tmparr2 = btdata.split("|");
const tmparrlabels2 = tmparr2[0].split(",");
const tmparramounts2 = tmparr2[1].split(",");
new Chart("lineChart", {
  type: "line",
  data: {
    labels: tmparrlabels2,
    datasets: [{
      data: tmparramounts2,
      borderColor: "red",
      fill: true
    }]
  },
  options: {
    title: {
      display: true,
      text: "{{ budgetitem.name }}"
    }
  }
});
new Chart("barChart", {
  type: "bar",
  data: {
    labels: tmparrlabels2,
    datasets: [{
      backgroundColor: chartColors,
      data: tmparramounts2
    }]
  },
  options: {
    legend: {
      display: true
    },
    title: {
      display: true,
      text: "{{ budgetitem.name }}"
    }
  }
});
</script>
{% else %}
<div class="container">
</div>
{% endif %}

{% endblock %}
