{% extends 'base.html' %}

{% block title %}
{% if g.user %}
Overview
{% else %}
{% endif %}
{% endblock %}

{% block header %}
{% if g.user %}
Overview
{% else %}
{% endif %}
{% endblock %}

{% block navbar %}
<li class="nav-item"><a href="" class="nav-link btn btn-sm">|</a></li>
<li class="nav-item">
  <a href="/budget/list" class="nav-link btn btn-sm btn-secondary">Budgets</a>
</li>
<li class="nav-item">
  <a href="/account/list" class="nav-link btn btn-sm btn-secondary">Accounts</a>
</li>
<li class="nav-item">
  <a href="/transaction/list" class="nav-link btn btn-sm btn-secondary">Transactions</a>
</li>
{% endblock %}

{% block content %}
{% if g.user %}
<div class="m-1 p-1">
  
  <div class="row">
    <div class="col">
      <a href="/budget/outlook/yearly" class="btn"><h1>Yearly Outlook</h1></a>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
    </div>
  </div>
  
  <div class="m-1 p-1">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
      Year
    </button>
  </div>
  
  <div class="collapse show table-responsive" id="collapseTable">
    <table class="table table-sm table-hover table-bordered">
      <tr>
        <th>YEAR</th>
        <th>JAN</th>
        <th>FEB</th>
        <th>MAR</th>
        <th>APR</th>
        <th>MAY</th>
        <th>JUN</th>
        <th>JUL</th>
        <th>AUG</th>
        <th>SEP</th>
        <th>OCT</th>
        <th>NOV</th>
        <th>DEC</th>
      </tr>
      
      {% for yodata in yearoutlookdata %}
      <tr>
        <td>{{ yodata }}</td>
        {% for odata in yodata %}
        <td>{{ odata }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      
      <tr>
        <td>INCOME</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>EXPENSES</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>REMAIN</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Housing</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Electric</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Internet</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Insurance</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Mobility</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Debt</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Credit</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Food</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
      <tr>
        <td>Entertainment</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
        <td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td><td>1234.56</td>
      </tr>
    </table>
  </div>
  
  <div class="m-1 p-1">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLineChart" aria-expanded="false" aria-controls="collapseLineChart">
      Line Chart
    </button>
  </div>
  
  <div class="collapse show" id="collapseLineChart">
    <div class="row">

      <div class="col">
        <canvas id="lineChartBudget" style="width:100%;max-width:1600px;height:800px;max-height:1600px;"></canvas>
      </div>

    </div>
  </div>
  
  <div class="m-1 p-1">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBudgetItems" aria-expanded="false" aria-controls="collapseBudgetItems">
      Budget Items
    </button>
  </div>
  
  <div class="collapse show" id="collapseBudgetItems">
    <table class="table table-hover table-bordered">
      <tr>
        <th><a href="" class="btn btn-sm">ID</a></th>
        <th><a href="" class="btn btn-sm">Name</a></th>
        <th><a href="" class="btn btn-sm">Description</a></th>
        <th><a href="" class="btn btn-sm">Amount</a></th>
        <th><a href="" class="btn btn-sm">Category</a></th>
        <th><a href="" class="btn btn-sm">Recurrence</a></th>
        <th><a href="" class="btn btn-sm">Recur Day</a></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th>Remainder</th>
        <th>{{ budgetremain }}</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      {% for budgetitem in budgetitemlist %}
      <tr>
        <td>{{ budgetitem.id }}</td>
        <td>{{ budgetitem.name }}</td>
        <td>{{ budgetitem.description }}</td>
        <td>{{ budgetitem.amount }}</td>
        <td>{{ budgetitem.category }}</td>
        <td>{{ budgetitem.recurrence }}</td>
        <td>{{ budgetitem.recurrenceday }}</td>
        <td>
          {% if loop.first %}{% else %}
          {{ ((budgetitem.amount / budgetsum)*100)|round(2,'common') }} %
          {% endif %}
        </td>
      </tr>
      {% endfor %}

      <tr>
        <th></th>
        <th></th>
        <th>Bill Sum</th>
        <th>{{ budgetsum }}</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </table>
  </div>
  
  <div class="m-1 p-1">
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransactions" aria-expanded="false" aria-controls="collapseTransactions">
      Transactions
    </button>
  </div>
  
  <div class="collapse show" id="collapseTransactions">

    <table class="table table-hover table-bordered">

      <tr>
        <th><a href="/transaction/list/sorted/id" class="btn btn-sm">ID</a></th>
        <th><a href="/transaction/list/sorted/datetimestamp" class="btn btn-sm">Date</a></th>
        <th><a href="/transaction/list/sorted/amount" class="btn btn-sm">Amount</a></th>
        <th><a href="/transaction/list/sorted/category" class="btn btn-sm">Category</a></th>
        <th><a href="/transaction/list/sorted/name" class="btn btn-sm">Name</a></th>
        <th><a href="" class="btn btn-sm">Description</a></th>
        <th><a href="/transaction/list/sorted/accountid" class="btn btn-sm">Account ID</a></th>
      </tr>

      {% for transaction in transactionlist %}
      <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.datetimestamp }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.category }}</td>
        <td><a href="/transaction/detail/{{ transaction.id }}" class="btn btn-sm btn-light"><b>{{ transaction.name }}</b></a></td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.accountid }}</td>
      </tr>
      {% endfor %}

    </table>
  </div>
  
</div>
<script>
var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
var yValues = [55, 49, 44, 24, 15];
var barColors = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145",
  "#00FFFF",
  "#7FFFD4",
  "#FFE4C4",
  "#0000FF"
];
var chartColors = [
  "Navy",
  "Yellow",
  "Red",
  "MediumBlue",
  "Gold",
  "DarkRed",
  "DarkCyan",
  "Cyan",
  "Orange",
  "Brown",
  "Turquoise",
  "DarkOrange",
  "Green",
  "Maroon",
  "GreenYellow",
  "Tomato",
  "Indigo",
  "GoldenRod",
  "Purple",
  "Violet",
  "Pink"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Wine Production 2018"
    }
  }
});
var xLabels = "{{ xLabels }}";
const xlabelarr = xLabels.split(",");
var incomedata = "{{ transactiondict.Income }}";
const incomearr = incomedata.split(",");
var housingdata = "{{ transactiondict.Housing }}";
const housingarr = housingdata.split(",");
var electricdata = "{{ transactiondict.Electric }}";
const electricarr = electricdata.split(",");
var phonedata = "{{ transactiondict.Phone }}";
const phonearr = phonedata.split(",");
var internetdata = "{{ transactiondict.Internet }}";
const internetarr = internetdata.split(",");
var insurancedata = "{{ transactiondict.Insurance }}";
const insurancearr = insurancedata.split(",");
var mobilitydata = "{{ transactiondict.Mobility }}";
const mobilityarr = mobilitydata.split(",");
var debtdata = "{{ transactiondict.Debt }}";
const debtarr = debtdata.split(",");
var creditdata = "{{ transactiondict.Credit }}";
const creditarr = creditdata.split(",");
var fooddata = "{{ transactiondict.Food }}";
const foodarr = fooddata.split(",");
new Chart("lineChartBudget", {
  type: "line",
  data: {
    labels: xlabelarr,
    datasets: [{
      data: incomearr,
      label: "Income",
      borderColor: "LimeGreen",
      backgroundColor: "HoneyDew"
    },{
      data: housingarr,
      label: "Housing",
      borderColor: "Maroon",
    },{
      data: electricarr,
      label: "Electric",
      borderColor: "Gold",
    },{
      data: phonearr,
      label: "Phone",
      borderColor: "Crimson",
    },{
      data: internetarr,
      label: "Internet",
      borderColor: "DarkOrange",
    },{
      data: insurancearr,
      label: "Insurance",
      borderColor: "SteelBlue",
    },{
      data: mobilityarr,
      label: "Mobility",
      borderColor: "MediumOrchid",
    },{
      data: debtarr,
      label: "Debt",
      borderColor: "Blue",
    },{
      data: creditarr,
      label: "Credit",
      borderColor: "Cyan",
    },{
      data: foodarr,
      label: "Food",
      borderColor: "Teal",
    }]
  },
  options: {
    elements: {
      line: {
        borderWidth: 2,
        tension: 0.2
      }
    },
    legend: {
      display: true
    },
    title: {
      display: true,
      text: "Budget"
    }
  }
});
</script>
{% else %}
<div class="container">
</div>
{% endif %}
{% endblock %}
