{% extends 'base.html' %}


{% block title %}

{% if g.user %}
Overview
{% else %}
{% endif %}

{% endblock %}


{% block header %}

{% if g.user %}
Overview
{% else %}
{% endif %}

{% endblock %}


{% block content %}

{% if g.user %}
<div class="card m-1 p-1">
  <div class="row">
    <div class="col">
      <a href="/budget/list" class="btn btn-sm btn-secondary">Budgets</a>
    </div>
    <div class="col">
      <a href="/account/list" class="btn btn-sm btn-secondary">Accounts</a>
    </div>
    <div class="col">
      <a href="/transaction/list" class="btn btn-sm btn-secondary">Transactions</a>
    </div>
    <div class="col">
      <a href="#" class="btn btn-sm btn-secondary">#</a>
    </div>
  </div>
</div>

<div class="container">
  
  <div class="m-3 p-3">
    
    <h2>Overview</h2>
    
  </div>
  
</div>

{% else %}
<div class="container">
</div>
{% endif %}

{% endblock %}
