{% extends 'base.html' %}

{% block title %}
{% if g.user %}
Transaction List
{% else %}
{% endif %}
{% endblock %}

{% block header %}
{% if g.user %}
Transaction List
{% else %}
{% endif %}
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a href="/transaction/importview" class="nav-link btn btn-sm btn-secondary">IMPORT</a>
</li>
{% endblock %}

{% block content %}
{% if g.user %}
<button class="nav-link btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filterpanel" aria-expanded="false" aria-controls="filterpanel">Filters</button>

<div id="filterpanel" class="collapse m-1 p-1 bg-light">
  
  <div class="row m-1 p-1">
    <div class="col">
      <form action="/transaction/filtered/category" method="post">
        <div class="input-group">
          <select id="filtervalue" name="filtervalue" class="form-select">
            <option value="" selected disabled>Category</option>
            {% for category in categories %}
            <option value="{{ category.value }}">{{ category.value }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Filter" class="btn btn-sm btn-success">
        </div>
      </form>
    </div>
    <div class="col">
      <form action="/transaction/list/filtered/month" method="post">
        <div class="input-group">
          <select id="month" name="month" class="form-select">
            <option value="" selected disabled>Month</option>
            <option value="01">JAN</option>
            <option value="02">FEB</option>
            <option value="03">MAR</option>
            <option value="04">APR</option>
            <option value="05">MAY</option>
            <option value="06">JUN</option>
            <option value="07">JUL</option>
            <option value="08">AUG</option>
            <option value="09">SEP</option>
            <option value="10">OCT</option>
            <option value="11">NOV</option>
            <option value="12">DEC</option>
          </select>
          <input type="submit" value="Filter" class="btn btn-sm btn-success">
        </div>
      </form>
    </div>
    <div class="col">
      <form action="/transaction/list/filtered/date" method="post">
        <div class="input-group">
          <span class="input-group-text">Start</span>
          <input type="date" id="startdate" name="startdate" class="form-control">
          <span class="input-group-text">End</span>
          <input type="date" id="enddate" name="enddate" class="form-control">
          <input type="submit" value="Filter" class="btn btn-sm btn-success">
        </div>
      </form>
    </div>
  </div>
  
  <form action="/transaction/keywordreplace" method="post">
    <div class="row m-1 p-1">
      <div class="col">
        <label for="keyword" class="form-label">Replace Keyword with Category in all Transactions</label>
        <input type="text" id="keyword" name="keyword" placeholder="Keyword" class="form-control" required>
        <select id="fieldname" name="fieldname" class="form-select" required>
          <option value="category" selected disabled>Name of Keyword Search Field</option>
          <option value="name">Name</option>
          <option value="description">Description</option>
          <option value="category">Category</option>
        </select>
      </div>
      <div class="col">
        <label for="categoryreplace" class="form-label">Category to Replace Keyword</label>
        <select id="categoryreplace" name="categoryreplace" class="form-select" required>
          <option value="" selected disabled>Category</option>
          {% for category in categories %}
          <option value="{{ category.value }}">{{ category.value }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <input type="submit" value="Replace" onclick="return confirm('Are you sure?');" class="btn btn-success">
      </div>
    </div>
  </form>
  
</div>

<div class="m-3 p-3">
  
  <button type="button" data-bs-toggle="collapse" data-bs-target="#createpanel" aria-expanded="false" aria-controls="createpanel" class="btn btn-sm btn-success">NEW</button>
  <div id="createpanel" class="collapse">
    <form action="/transaction/create" method="post">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <input type="datetime-local" id="datetimestamp" name="datetimestamp" class="form-control" required />
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" required />
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <select id="category" name="category" class="form-select">
            <option value="" disabled selected>Select a Category</option>
            {% for category in categories %}
            <option value="{{ category.value }}">{{ category.value }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" required />
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="Submit Reset group">
        <input type="submit" value="&#9655;" class="btn btn-sm btn-success">
        <input type="reset" value="&#8634;" class="btn btn-sm btn-secondary">
      </div>
    </form>
  </div>
  
  <table class="table table-hover table-bordered">

    <tr>
      <th><a href="/transaction/list/sorted/datetimestamp" class="btn btn-sm">Date</a></th>
      <th><a href="/transaction/list/sorted/amount" class="btn btn-sm">Amount<br><i>(Original Currency)</i></a></th>
      <th><a href="" class="btn btn-sm">Value</a></th>
      <th><a href="/transaction/list/sorted/category" class="btn btn-sm">Category</a></th>
      <th><a href="/transaction/list/sorted/name" class="btn btn-sm">Name</a></th>
      <th><a href="" class="btn btn-sm">Description</a></th>
      <th><a href="/transaction/list/sorted/accountid" class="btn btn-sm">Account ID</a></th>
    </tr>

    {% for transaction in transactionlist %}
    <tr>
      <td>{{ transaction.datetimestamp }}</td>
      <td class="text-end">{{ transaction.currency }} {{ transaction.amount }}</td>
      <td class="text-end"><i>{{ transaction.convertedvalue }}</i></td>
      <td>{{ transaction.category }}</td>
      <td><a href="/transaction/detail/{{ transaction.id }}" class="btn btn-sm btn-light text-start"><b>{{ transaction.name }}</b></a></td>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.accountid }}</td>
    </tr>
    {% endfor %}

  </table>
</div>

{% else %}
<div class="container">
</div>
{% endif %}

{% endblock %}
