{% extends 'base.html' %}

{% block title %}
{% if g.user %}
Transaction - {{ transaction.id }}
{% else %}
{% endif %}
{% endblock %}

{% block header %}
{% if g.user %}
Transaction: {{ transaction.id }}
{% else %}
{% endif %}
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a href="/transaction/importview" class="nav-link btn btn-sm btn-secondary">IMPORT</a>
</li>
{% endblock %}

{% block content %}
{% if g.user %}
<div class="container">
  
  <form action="/transaction/delete/{{ transaction.id }}" method="post">
    <input type="submit" value="DELETE" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">
  </form>
  
  <div class="m-3 p-3">
    
    <a href="/transaction/detail/{{ transaction.id }}" class="btn"><h3>{{ transaction.id }}</h3></a>
    
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">ID</div>
      <div class="col-12 col-sm-9">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light">{{ transaction.id }}</button>
        </div>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Date</div>
      <div class="col-12 col-sm-9">
        <form action="/transaction/update/{{ transaction.id }}/datetimestamp" method="post">
          <div class="input-group">
            <button type="button" class="btn btn-sm btn-light">{{ transaction.datetimestamp }}</button>
            <input type="datetime-local" id="newvalue" name="newvalue" class="form-control" />
            <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Amount</div>
      <div class="col-12 col-sm-9">
        <form action="/transaction/update/{{ transaction.id }}/amount" method="post">
          <div class="input-group">
            <input type="text" id="newvalue" name="newvalue" placeholder="{{ transaction.amount }}" class="form-control" />
            <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Category</div>
      <div class="col-12 col-sm-9">
        <form action="/transaction/update/{{ transaction.id }}/category" method="post">
          <div class="input-group">
            <button type="button" class="btn btn-sm btn-light">{{ transaction.category }}</button>
            <select id="newvalue" name="newvalue" class="form-select">
              <option value="Default" selected>Select a Category</option>
              {% for category in categories %}
              <option value="{{ category.value }}">{{ category.value }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Name</div>
      <div class="col-12 col-sm-9">
        <form action="/transaction/update/{{ transaction.id }}/name" method="post">
          <div class="input-group">
            <input type="text" id="newvalue" name="newvalue" placeholder="{{ transaction.name }}" class="form-control" />
            <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Description</div>
      <div class="col-12 col-sm-9">
        <form action="/transaction/update/{{ transaction.id }}/description" method="post">
          <textarea id="newvalue" name="newvalue" placeholder="{{ transaction.description }}" rows="2" class="form-control"></textarea>
          <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
        </form>
      </div>
    </div>
    <div class="row m-1 p-1">
      <div class="text-bg-light col-12 col-sm-3">Account ID</div>
      <div class="col-12 col-sm-9">
        <form action="/transaction/update/{{ transaction.id }}/accountid" method="post">
          <div class="input-group">
            <input type="text" id="newvalue" name="newvalue" placeholder="{{ transaction.accountid }}" class="form-control" />
            <input type="submit" value="Update" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
    
  </div>
  
</div>

{% else %}
<div class="container">
</div>
{% endif %}

{% endblock %}
