{% extends 'base.html' %}


{% block title %}
{% if g.user %}
Transaction Import
{% else %}
{% endif %}
{% endblock %}

{% block header %}
{% if g.user %}
Transaction Import
{% else %}
{% endif %}
{% endblock %}

{% block navbar %}
<li class="nav-item"><a href="" class="nav-link btn btn-sm">|</a></li>
<li class="nav-item">
  <a href="/transaction/list" class="nav-link btn btn-sm btn-secondary">LIST</a>
</li>
<li class="nav-item">
  <a href="/transaction/importview" class="nav-link btn btn-sm btn-secondary">IMPORT</a>
</li>
{% endblock %}

{% block content %}
{% if g.user %}
<div class="m-1 p-1">
  
  <div class="border bg-light m-1 p-1">
    <h3 class="text-center">Import CSV/TEXT File</h3>
    <form action="/transaction/import" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col">
          <input type="file" id="uploadedfile" name="uploadedfile" class="form-control" />
        </div>
        <div class="col">
          <select id="fileformat" name="fileformat" class="form-select">
            <option value="csv" selected>CSV</option>
            <option value="txt">TXT</option>
          </select>
        </div>
        <div class="col">
          <select id="delimiter" name="delimiter" class="form-select">
            <option value="," selected>Delimiter</option>
            <option value=",">","</option>
            <option value=";">";"</option>
          </select>
        </div>
        <div class="col">
          <select id="header" name="header" class="form-select">
            <option value="yes" selected>Has Header</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="col">
          <div class="input-group">
            <input type="submit" value="Add" class="btn btn-sm btn-success">
            <input type="reset" class="btn btn-sm btn-secondary">
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div>
    <div class="row">
      <div class="col border m-1 p-1">
        <h3 class="text-center">Upload Directory Contents:</h3>
        {% for file in uploadedfilelist %}
        <div class="btn-group">
          <a href="" class="btn btn-sm">{{ file }}</a>
          <form action="/uploads/{{ file }}" method="post">
            <input type="submit" value="X" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">
          </form>
        </div>
        {% endfor %}
      </div>

      <div class="col border m-1 p-1">
        <h3 class="text-center">View Uploaded File</h3>
        <form action="/transaction/uploadedfileview" method="post">
          <div class="input-group">
            <select id="uploadedfile" name="uploadedfile" class="form-select">
              <option value="" selected disabled>Select Uploaded File</option>
              {% for file in uploadedfilelist %}
              <option value="{{ file }}">{{ file }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="View" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>

      <div class="col border m-1 p-1">
        <h3 class="text-center">Format & Import Uploaded File</h3>
        <form action="/transaction/uploadedformatview" method="post">
          <select id="uploadedfile" name="uploadedfile" class="form-select">
            <option value="" selected disabled>Select Uploaded File</option>
            {% for file in uploadedfilelist %}
            <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
          </select>
          <select id="fileformat" name="fileformat" class="form-select">
            <option value="csv" selected>Filetype</option>
            <option value="csv" selected>CSV</option>
            <option value="txt">TXT</option>
          </select>
          <select id="delimiter" name="delimiter" class="form-select">
            <option value="," selected>Delimiter</option>
            <option value=",">","</option>
            <option value=";">";"</option>
          </select>
          <div class="input-group">
            <input type="submit" value="View" class="btn btn-sm btn-success">
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          {% for linearr in importdict %}
          <tr>
            {% if loop.first %}
            <form action="/transaction/importformatted" method="post" enctype="multipart/form-data">
              <th colspan="2">
                <div class="row">
                  <div class="col">
                    <label for="datetimefield" class="form-label">Date/Time</label>
                  </div>
                  <div class="col">
                    <select id="datetimefield" name="datetimefield" class="form-select">
                      <option value="0" selected>Column</option>
                      {% for item in linearr %}
                      <option value="{{ loop.index }}">{{ loop.index }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="amountfield" class="form-label">Amount</label>
                  </div>
                  <div class="col">
                    <select id="amountfield" name="amountfield" class="form-select">
                      <option value="0" selected>Column</option>
                      {% for item in linearr %}
                      <option value="{{ loop.index }}">{{ loop.index }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="categoryfield" class="form-label">Category</label>
                  </div>
                  <div class="col">
                    <select id="categoryfield" name="categoryfield" class="form-select">
                      <option value="0" selected>Column</option>
                      {% for item in linearr %}
                      <option value="{{ loop.index }}">{{ loop.index }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="namefield" class="form-label">Name</label>
                  </div>
                  <div class="col">
                    <select id="namefield" name="namefield" class="form-select">
                      <option value="0" selected>Column</option>
                      {% for item in linearr %}
                      <option value="{{ loop.index }}">{{ loop.index }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="descriptionfield" class="form-label">Description</label>
                  </div>
                  <div class="col">
                    <select id="descriptionfield" name="descriptionfield" class="form-select">
                      <option value="0" selected>Column</option>
                      {% for item in linearr %}
                      <option value="{{ loop.index }}">{{ loop.index }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </th>
              <th colspan="2">
                <select id="uploadedfile" name="uploadedfile" class="form-select">
                  <option value="" selected disabled>Select Uploaded File</option>
                  {% for file in uploadedfilelist %}
                  <option value="{{ file }}">{{ file }}</option>
                  {% endfor %}
                </select>
                <select id="dateformat" name="dateformat" class="form-select">
                  <option value="Y-m-d" selected>Date Format</option>
                  <option value="Y-m-d">YYYY-MM-DD</option>
                  <option value="Y/m/d">YYYY/MM/DD</option>
                  <option value="Y.m.d">YYYY.MM.DD</option>
                  <option value="m-d-Y">MM-DD-YYYY (USA)</option>
                  <option value="m/d/Y">MM/DD/YYYY (USA)</option>
                  <option value="m-d-y">MM-DD-YY (USA)</option>
                  <option value="m/d/y">MM/DD/YY (USA)</option>
                  <option value="d.m.y">DD.MM.YY (DE)</option>
                  <option value="d/m/y">DD/MM/YY (DE)</option>
                </select>
                <select id="delimiter" name="delimiter" class="form-select">
                  <option value="," selected>Delimiter</option>
                  <option value=",">","</option>
                  <option value=";">";"</option>
                </select>
                <select id="header" name="header" class="form-select">
                  <option value="yes" selected>Has Header</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
                <select id="accountid" name="accountid" class="form-select">
                  <option value="0" selected>Account ID</option>
                  {% for account in accountlist %}
                  <option value="{{ account.id }}">{{ account.name }}</option>
                  {% endfor %}
                </select>
                <select id="currency" name="currency" class="form-select">
                  <option value="" selected disabled>Currency</option>
                  {% for currency in currencylist %}
                  <option value="{{ currency.value }}">{{ currency.value }}</option>
                  {% endfor %}
                </select>
                <select id="country" name="country" class="form-select">
                  <option value="" selected disabled>Country</option>
                  <option value="USA">USA</option>
                  <option value="DE">DE</option>
                </select>
                <div class="input-group">
                  <input type="submit" value="Add" class="btn btn-sm btn-success">
                  <input type="reset" class="btn btn-sm btn-secondary">
                </div>
              </th>
            </form>
            {% elif loop.index == 2 %}
            {% for item in linearr %}
            <td><p>{{ loop.index }}</p>{{ item }}</td>
            {% endfor %}
            {% else %}
            {% for item in linearr %}
            <td>{{ item }}</td>
            {% endfor %}
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
        
  </div>
</div>

{% else %}
<div class="container">
</div>
{% endif %}

{% endblock %}
