{% extends 'base.html' %}


{% block title %}

{% if g.user %}
User Profile - {{ g.user.username }}
{% else %}
{% endif %}

{% endblock %}


{% block header %}

{% if g.user %}
{{ g.user.username }}
{% else %}
{% endif %}

{% endblock %}


{% block content %}

{% if g.user %}
<div class="container">
  <div class="card m-1 p-1">
    <div class="card-header">
      <h3>Profile - {{ user.username }}</h3>
    </div>
    
    <div class="card-body">
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              ID
            </div>
            <div class="col">
              {{ user.id }}
            </div>
          </div>
        </li>
        
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              Username
            </div>
            <div class="col">
              {{ user.username }}
            </div>
          </div>
        </li>
        
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              Email
            </div>
            <div class="col">
              <a href="mailto:{{ user.email }}" class="btn btn-sm">{{ user.email }}</a>
              <form action="/user/update/email" method="post">
                <input type="email" id="email" name="email" placeholder="Update email address" class="form-control m-1 p-1" autocomplete="off" required> 
                <div class="input-group">
                  <input type="submit" value="Update" onclick="return confirm('Update email?');" class="btn btn-sm btn-success">
                  <input type="reset" class="btn btn-sm btn-secondary">
                </div>
              </form>
            </div>
          </div>
        </li>
        
        <li class="list-group-item">
          <div class="row">
            <div class="col">
              Password
            </div>
            <div class="col">
              <form action="/user/update/password" method="post">
                <input type="password" id="password" name="password" placeholder="Enter a new password" class="form-control m-1 p-1" autocomplete="off" required>
                <input type="password" id="password2" name="password2" placeholder="Verify password" class="form-control m-1 p-1" autocomplete="off" required> 
                <div class="input-group">
                  <input type="submit" value="Update" onclick="return confirm('Update password?');" class="btn btn-sm btn-success">
                  <input type="reset" class="btn btn-sm btn-secondary">
                </div>
              </form>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
    
    <div class="card-footer">
      <form action="" method="">
        <input type="submit" value="Delete User" onclick="return confirm('Are you sure you want to delete your user?');" class="btn btn-sm btn-danger">
      </form>
    </div>
    
  </div>
</div>
{% else %}
<div class="container">
</div>
{% endif %}

{% endblock %}
