{#include base-user}
  {#title}BudgetApp - Create Transaction{/title}

{#content}
<div class="container">
<div class="card m-3 p-3">
  <h3>Add a Transaction</h3>
  <form action="/transactions/view/create" method="post">
    <div class="row">
      <div class="col">
        <fieldset><legend>Transaction Base Info</legend>
          <div class="m-3">
            <input type="submit" value="Save" class="btn btn-sm btn-success"><input type="reset" class="btn btn-sm btn-secondary">
          </div>
          <div class="m-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" placeholder="Transaction Name" class="form-control" />
          </div>
          <div class="m-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control" />
          </div>
          <div class="m-3">
            <label for="datetimestamp" class="form-label">Date Time Stamp</label>
            <input type="datetime-local" id="datetimestamp" name="datetimestamp" class="form-control" />
          </div>
          <div class="m-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" id="description" name="description" placeholder="Description" class="form-control" />
          </div>
          <div class="m-3">
            <label for="category" class="form-label">Category</label>
            <select id="category" name="category" class="form-select">
              <option value="" selected disabled>Select a category</option>
              {#for category in categorylist}
              <option value="{category.value}">{category.value}</option>
              {/for}
            </select>
          </div>
          <div class="m-3">
            <label for="reference" class="form-label">Reference</label>
            <input type="text" id="reference" name="reference" placeholder="Reference" class="form-control" />
          </div>
        </fieldset>
      </div>
    </div>
    
  </form>
</div>
</div>
{/content}

{/include}