{#include base-user}
  {#title}BudgetApp - Transaction List{/title}

{#content}
<div class="container">
  <div>
    <form action="/transactions/view/importcsv" method="post" enctype="multipart/form-data">
      <input type="file" id="csvfile" name="csvfile" class="form-control">
      <input type="submit" value="Import" class="btn btn-sm btn-success">
    </form>
  </div>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Date Time Stamp</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Category</th>
      <th>Reference</th>
    </tr>
    {#for transaction in transactionlist}
    <tr>
      <td>{transaction.id}</td>
      <td><a href="/transactions/view/detail/{transaction.id}">{transaction.name}</a></td>
      <td>{transaction.datetimestamp}</td>
      <td>{transaction.amount}</td>
      <td>{transaction.description}</td>
      <td>{transaction.category}</td>
      <td>{transaction.reference}</td>
    </tr>
    {/for}
  </table>
</div>
{/content}

{/include}