{#include base-user}
{#title}BudgetApp - Transaction List{/title}
{#header}Transactions{/header}
{#navbar}
<li class="nav-item">
  <button type="button" data-bs-toggle="collapse" data-bs-target="#createpanel" aria-expanded="false" aria-controls="createpanel" class="nav-link btn btn-sm btn-success">NEW</button>
</li>
<li class="nav-item">
  <form action="" method="">
    <div class="input-group">
      <input type="file" id="csvfile" name="csvfile" class="form-control">
      <input type="submit" value="Import" clsas="btn btn-sm btn-success">
    </div>
  </form>
</li>
{/navbar}
{#content}
<div class="m-1 p-1">
  <div id="createpanel" class="collapse">
    <form action="/transaction/create" method="post">
      <div class="row bg-success-subtle p-1">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="input-group m-1 p-1">
            <input type="datetime-local" id="datetimestamp" name="datetimestamp" class="form-control" required>
            <input type="text" id="name" name="name" placeholder="Name" class="form-control" required />
          </div>
          <div class="input-group m-1 p-1">
            <input type="submit" value="Add" onclick="return confirm('Add this system?');" class="btn btn-sm btn-success">
            <input type="reset" value="Reset" class="btn btn-sm btn-secondary">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <input type="text" id="amount" name="amount" placeholder="Amount" class="form-control">
          <div class="input-group m-1 p-1">
            <select id="category" name="category" class="form-select">
              <option value="" disabled selected>Select a Category</option>
              {#for category in categorylist}
              <option value="{category.value}">{category.value}</option>
              {/for}
            </select>
            <select id="accountid" name="accountid" class="form-select">
              <option value="" disabled selected>Select an Account</option>
              {#for account in accountlist}
              <option value="{account.id}">{account.name}</option>
              {/for}
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="input-group m-1 p-1">
            <select id="currency" name="currency" class="form-select">
              <option value="" disabled selected>Select a Currency</option>
              {#for currency in currencylist}
              <option value="{currency.value}">{currency.value}</option>
              {/for}
            </select>
            <textarea id="description" name="description" placeholder="Description" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="m-3 p-3">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <tr class="table-light">
        <th><a href="/transaction/list/sorted/id" class="btn btn-sm">ID</a></th>
        <th><a href="/transaction/list/sorted/datetimestamp" class="btn btn-sm">Timestamp</a></th>
        <th><a href="/transaction/list/sorted/name" class="btn btn-sm">Name</a></th>
        <th><a href="" class="btn btn-sm">Amount</a></th>
        <th><a href="/transaction/list/sorted/accountid" class="btn btn-sm">Account</a></th>
        <th><a href="/transaction/list/sorted/category" class="btn btn-sm">Category</a></th>
        <th><a href="/transaction/list/sorted/currency" class="btn btn-sm">Currency</a></th>
        <th><a href="" class="btn btn-sm">Description</a></th>
        
      </tr>
      
      {#for transaction in transactionlist}
      <tr>
        <td>
          <form action="/transaction/delete/{transaction.id}" method="post">
            <input type="submit" value="{transaction.id}" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">
          </form>
        </td>
        <td>{transaction.datetimestamp}</td>
        <td>{transaction.name}</td>
        <td>{transaction.amount}</td>
        <td><a href="/account/detail/{transaction.accountid}" class="btn btn-sm">{transaction.accountid}</a></td>
        <td>{transaction.category}</td>
        <td>{transaction.currency}</td>
        <td>{transaction.description}</td>
      </tr>
      {/for}
      
    </table>
  </div>
</div>
{/content}

{/include}